
/* BREAKPOINT : Indicano la dimensione minima dello schermo */
$mobile-breakpoint: 320px;
$mobileXL-breakpoint: 600px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 992px;
$large-device-breakpoint: 1200px;
$extra-large-device-breakpoint: 1400px;