/* BREAKPOINT : Indicano la dimensione minima dello schermo */
$mobile-breakpoint: 320px;
$mobileXL-breakpoint: 600px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 992px;
$large-device-breakpoint: 1200px;
$extra-large-device-breakpoint: 1400px;

$breakpoint-xs: 320px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoints: (
  "xs": $breakpoint-xs,
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl
);

$breakpoints-between: (
  "xs": (
    "min-width": $breakpoint-xs,
    "max-width": $breakpoint-sm - 0.02
  ),
  "sm": (
    "min-width": $breakpoint-sm,
    "max-width": $breakpoint-md - 0.02
  ),
  "md": (
    "min-width": $breakpoint-md,
    "max-width": $breakpoint-lg - 0.02
  ),
  "lg": (
    "min-width": $breakpoint-lg,
    "max-width": $breakpoint-xl - 0.02
  ),
  "xl": (
    "min-width": $breakpoint-xl,
  )
);

@mixin respond-between($breakpoint-key) {
  // Otteniamo l'oggetto corrispondente al breakpoint dalla mappa
  $breakpoint: map-get($breakpoints-between, $breakpoint-key);
  
  @if $breakpoint != null {
    // Estraiamo i valori di min-width e max-width dalla mappa
    $min-width: map-get($breakpoint, "min-width");
    $max-width: map-get($breakpoint, "max-width");
    
    // Se esiste il max-width genera la media query con entrambi
    @if $max-width != null {
      @media (min-width: $min-width) and (max-width: $max-width) {
        @content;
      }
  
    } @else {
      // Se non esiste il max-width (ad esempio per l'ultimo breakpoint), genera solo il min-width
      @media (min-width: $min-width) {
        @content;
      }
    }
  }

}

@mixin respond-from($breakpoint) {
  $min-width: map-get($breakpoints, $breakpoint);

  @media (min-width: $min-width) {
      @content;
  }
}