@use '@angular/material' as mat;

@import "breakpoints";

/*
==========
ELEVATION
==========
*/

$elevation : (
    "1" : 1,
    "2" : 2,
    "3" : 3,
    "4" : 4,
    "5" : 5,
    "6" : 6,
    "7" : 7,
    "8" : 8,
    "9" : 9,
    "10" : 10,
    "11" : 11,
    "12" : 12,
    "13" : 13,
    "14" : 14,
    "15" : 15,
    "16" : 16,
    "17" : 17,
    "18" : 18,
    "19" : 19,
    "20" : 20,
    "21" : 21,
    "22" : 22,
    "23" : 23,
    "24" : 24
);

@each $name, $value in $elevation {
    .elevation-#{$name} {
        @include mat.elevation($value);
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $elevation-name, $elevation-value in $elevation {
            .#{$breakpoint-name}-elevation-#{$elevation-name} {
                @include mat.elevation($elevation-value);
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $elevation-name, $elevation-value in $elevation {
            .from-#{$breakpoint-name}-elevation-#{$elevation-name} {
                @include mat.elevation($elevation-value);
            }
        }
    }
}

/*
========
OPACITY
========
*/

$opacity: (
    "0" : 0,
    "10" : 0.1,
    "20" : 0.2,
    "30" : 0.3,
    "40" : 0.4,
    "50" : 0.5,
    "60" : 0.6,
    "70" : 0.7,
    "80" : 0.8,
    "90" : 0.9,
    "100" : 1
);

@each $name, $value in $opacity {
    .opacity-#{$name} {
        opacity: $value;
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $opacity-name, $opacity-value in $opacity {
            .#{$breakpoint-name}-opacity-#{$opacity-name} {
                opacity: $opacity-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $opacity-name, $opacity-value in $opacity {
            .from-#{$breakpoint-name}-opacity-#{$opacity-name} {
                opacity: $opacity-value;
            }
        }
    }
}