@import "breakpoints";

/*
========
PADDING
========
*/

$padding: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding {
    .padding-#{$name} {
        padding: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $padding-name, $padding-value in $padding {
            .#{$breakpoint-name}-padding-#{$padding-name} {
                padding: $padding-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $padding-name, $padding-value in $padding {
            .from-#{$breakpoint-name}-padding-#{$padding-name} {
                padding: $padding-value;
            }
        }
    }
}

/*
============
PADDING-TOP
============
*/

$padding-top: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding-top {
    .padding-top-#{$name} {
        padding-top: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $padding-top-name, $padding-top-value in $padding-top {
            .#{$breakpoint-name}-padding-top-#{$padding-top-name} {
                padding-top: $padding-top-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $padding-top-name, $padding-top-value in $padding-top {
            .from-#{$breakpoint-name}-padding-top-#{$padding-top-name} {
                padding-top: $padding-top-value;
            }
        }
    }
}

/*
==============
PADDING RIGHT
==============
*/

$padding-right: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding-right {
    .padding-right-#{$name} {
        padding-right: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $padding-right-name, $padding-right-value in $padding-right {
            .#{$breakpoint-name}-padding-right-#{$padding-right-name} {
                padding-right: $padding-right-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-size) {
        @each $padding-right-name, $padding-right-value in $padding-right {
            .from-#{$breakpoint-name}-padding-right-#{$padding-right-name} {
                padding-right: $padding-right-value;
            }
        }
    }
}

/*
===============
PADDING BOTTOM
===============
*/

$padding-bottom: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding-bottom {
    .padding-bottom-#{$name} {
        padding-bottom: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-between($breakpoint-name) {
        @each $padding-bottom-name, $padding-bottom-value in $padding-bottom {
            .#{$breakpoint-name}-padding-bottom-#{$padding-bottom-name} {
                padding-bottom: $padding-bottom-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $padding-bottom-name, $padding-bottom-value in $padding-bottom {
            .from-#{$breakpoint-name}-padding-bottom-#{$padding-bottom-name} {
                padding-bottom: $padding-bottom-value;
            }
        }
    }
}

/*
=============
PADDING LEFT
=============
*/

$padding-left: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding-left {
    .padding-left-#{$name} {
        padding-left: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $padding-left-name, $padding-left-value in $padding-left {
            .#{$breakpoint-name}-padding-left-#{$padding-left-name} {
                padding-left: $padding-left-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $padding-left-name, $padding-left-value in $padding-left {
            .from-#{$breakpoint-name}-padding-left-#{$padding-left-name} {
                padding-left: $padding-left-value;
            }
        }
    }
}

/*
===================
PADDING LEFT-RIGHT
===================
*/

$padding-x: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding-x {
    .padding-x-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $padding-x-name, $padding-x-value in $padding-x {
            .#{$breakpoint-name}-padding-x-#{$padding-x-name} {
                padding-left: $padding-x-value;
                padding-right: $padding-x-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $padding-x-name, $padding-x-value in $padding-x {
            .from-#{$breakpoint-name}-padding-x-#{$padding-x-name} {
                padding-left: $padding-x-value;
                padding-right: $padding-x-value;
            }
        }
    }
}

/*
===================
PADDING TOP-BOTTOM
===================
*/

$padding-y: (
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $padding-y {
    .padding-y-#{$name} {
        padding-top: $value;
        padding-bottom: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $padding-y-name, $padding-y-value in $padding-y {
            .#{$breakpoint-name}-padding-y-#{$padding-y-name} {
                padding-top: $padding-y-value;
                padding-bottom: $padding-y-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $padding-y-name, $padding-y-value in $padding-y {
            .from-#{$breakpoint-name}-padding-y-#{$padding-y-name} {
                padding-top: $padding-y-value;
                padding-bottom: $padding-y-value;
            }
        }
    }
}

/*
=======
MARGIN
=======
*/

$margin: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin {
    .margin-#{$name} {
        margin: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-name, $margin-value in $margin {
            .#{$breakpoint-name}-margin-#{$margin-name} {
                margin: $margin-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-name, $margin-value in $margin {
            .from-#{$breakpoint-name}-margin-#{$margin-name} {
                margin: $margin-value;
            }
        }
    }
}

/*
===========
MARGIN TOP
===========
*/

$margin-top: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin-top {
    .margin-top-#{$name} {
        margin-top: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-top-name, $margin-top-value in $margin-top {
            .#{$breakpoint-name}-margin-top-#{$margin-top-name} {
                margin-top: $margin-top-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-top-name, $margin-top-value in $margin-top {
            .from-#{$breakpoint-name}-margin-top-#{$margin-top-name} {
                margin-top: $margin-top-value;
            }
        }
    }
}

/*
=============
MARGIN RIGHT
=============
*/

$margin-right: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin-right {
    .margin-right-#{$name} {
        margin-right: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-right-name, $margin-right-value in $margin-right {
            .#{$breakpoint-name}-margin-right-#{$margin-right-name} {
                margin-right: $margin-right-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-right-name, $margin-right-value in $margin-right {
            .from-#{$breakpoint-name}-margin-right-#{$margin-right-name} {
                margin-right: $margin-right-value;
            }
        }
    }
}

/*
==============
MARGIN BOTTOM
==============
*/

$margin-bottom: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin-bottom {
    .margin-bottom-#{$name} {
        margin-bottom: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-bottom-name, $margin-bottom-value in $margin-bottom {
            .#{$breakpoint-name}-margin-bottom-#{$margin-bottom-name} {
                margin-bottom: $margin-bottom-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-bottom-name, $margin-bottom-value in $margin-bottom {
            .from-#{$breakpoint-name}-margin-bottom-#{$margin-bottom-name} {
                margin-bottom: $margin-bottom-value;
            }
        }
    }
}

/*
============
MARGIN LEFT
============
*/

$margin-left: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin-left {
    .margin-left-#{$name} {
        margin-left: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-left-name, $margin-left-value in $margin-left {
            .#{$breakpoint-name}-margin-left-#{$margin-left-name} {
                margin-left: $margin-left-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-left-name, $margin-left-value in $margin-left {
            .from-#{$breakpoint-name}-margin-left-#{$margin-left-name} {
                margin-left: $margin-left-value;
            }
        }
    }
}

/*
====================
MARGIN LEFT - RIGHT
====================
*/

$margin-x: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin-x {
    .margin-x-#{$name} {
        margin-left: $value;
        margin-right: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-x-name, $margin-x-value in $margin-x {
            .#{$breakpoint-name}-margin-x-#{$margin-x-name} {
                margin-left: $margin-x-value;
                margin-right: $margin-x-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-x-name, $margin-x-value in $margin-x {
            .from-#{$breakpoint-name}-margin-x-#{$margin-x-name} {
                margin-left: $margin-x-value;
                margin-right: $margin-x-value;
            }
        }
    }
}

/*
====================
MARGIN TOP - BOTTOM
====================
*/

$margin-y: (
    "auto": auto,
    "0": 0,
    "1": 0.125rem,
    "2": 0.25rem,
    "3": 0.5rem,
    "4": 0.625rem,
    "5": 0.75rem,
    "6": 0.875rem,
    "7": 1rem,
    "8": 1.125rem,
    "9": 1.25rem,
    "10": 1.5rem,
    "11": 1.625rem,
    "12": 1.75rem,
    "13": 1.875rem,
    "14": 2rem,
    "15": 2.125rem,
    "16": 2.25rem,
    "17": 2.5rem,
    "18": 2.625rem,
    "19": 2.75rem,
    "20": 2.875rem,
    "21": 3rem,
    "22": 3.5rem,
    "23": 4rem,
    "24": 4.5rem,
    "25": 5rem
);

// Ciclo per generare le classi standard
@each $name, $value in $margin-y {
    .margin-y-#{$name} {
        margin-top: $value;
        margin-bottom: $value;
    }
}

// Ciclo per generare le classi responsive
@each $breakpoint-name, $breakpoint-size in $breakpoints-between {
    @include respond-between($breakpoint-name) {
        @each $margin-y-name, $margin-y-value in $margin-y {
            .#{$breakpoint-name}-margin-y-#{$margin-y-name} {
                margin-top: $margin-y-value;
                margin-bottom: $margin-y-value;
            }
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include respond-from($breakpoint-name) {
        @each $margin-y-name, $margin-y-value in $margin-y {
            .from-#{$breakpoint-name}-margin-y-#{$margin-y-name} {
                margin-top: $margin-y-value;
                margin-bottom: $margin-y-value;
            }
        }
    }
}