@use "src/styles/global/styles";
@use "src/styles/angular-component/input";
@use "src/styles/angular-component/form";
@use "src/styles/angular-component/buttons";

.icon-size {
    font-size: 12px;
    height: 14px;
    width: 14px;
}

