@import "src/styles/global/breakpoints";

/*
 * ===================
 * NATIVE INPUT STYLE
 * ===================
 */

.native-input-border {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.xl-native-input {
    @extend .native-input-border;
    width: 100%;    
    height: 40px;    
}

.xl-native-input:disabled {
    opacity: 0.5;
}

.native-input {
    @extend .native-input-border;
    max-width: 200px;
    min-width: 60px;
    width: 100%;
    height: 30px;
}

.native-input:disabled {
    opacity: 0.5;
}

.small-native-input {
    @extend .native-input-border;
    max-width: 80px;
    min-width: 60px;
    width: 100%;
    height: 30px;
}

.native-input-number {
    text-align: right;
    padding-right: 10px;
}

/* 
Nasconde i pulsanti per incrementare e diminuire il valore nell'input text 
[type=number] (Firefox) , -webkit-outer-spin-button & -webkit-inner-spin-button (Chrome, Safari, Edge, Opera)
*/
.hide-up-down-number[type=number],
.hide-up-down-number::-webkit-outer-spin-button,
.hide-up-down-number::-webkit-inner-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

/*
 * =================
 * INPUT RESPONSIVE
 * =================
 */

.native-input-responsive {
    @extend .native-input;
    max-width: 350px;
    min-width: 40px;
}

.native-input-responsive:disabled {
    opacity: 0.5;
}