
.search-add-container {
    max-width: 500px;
    width: 100%;
    height: max-content;
    align-items: center;
}

.form-field {
    max-width: 350px;
    width: 100%;
    max-height: 80px;
}

.flex-container > .align-button-with-input {
    padding-bottom: 1.34375em;
}

.align-button-with-input > .mat-mdc-button-base {
    height: max(36px, 100%);
}

.add-btn {
    max-width: 120px;
    min-width: 80px;
    width: 100%;
}