/* INPUT */

.input {
    text-align: center;
}

.form-field {
    margin: 0;
    padding-right: 10px;
    width: 280px;
}

button {
    font-size: 16px;
}

button:hover {
    font-weight: 600;
}

@media
(min-width: 800px) and
(max-width: 1200px) {

    .form-field {
        margin: 0;
        padding-right: 10px;
        width: 200px;
    }

    button {
        font-size: 12px;
    }
}