<div class="flex-container">
    <mat-form-field class="form-field mr-10px" appearance="fill">
        <mat-label>Nome giocatore</mat-label>
        <input matInput type='text'
            (keypress)="filterText($event)"
            placeholder="Nome giocatore..."
            matInput
            [(ngModel)]="inputPlayerName"
            [matAutocomplete]="auto"
            (input)="searchPlayer(inputPlayerName)">
        <button mat-icon-button matSuffix aria-label="Clear"         
        *ngIf="!isValueInputTextEmpty()"
        (click)="inputPlayerName=''; searchPlayer('')">
        <mat-icon>clear</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <ng-container *ngFor="let player of players">
                <mat-option [value]="player.getName()">
                    {{player.getName()}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
    <div class="align-button-with-input">
        <button mat-raised-button 
        class="label secondary-color add-btn"
        [matTooltip]="getAddBtnDescription()"
        [disabled]="isValueInputTextEmpty()"
        (click)="addPlayer(inputPlayerName)">
            <span>Aggiungi</span>
        </button>
    </div>
</div>