
.mat-column-Favorit {
    width: 5%;
}

.mat-column-Team {
    width: 20% !important;
}

@media screen and (400px >= width >= 320px) {
    
    .mat-column-Favorit {
        padding-right: 12px !important;
    }
}

/* ROW TABLE */

@media (hover : hover) {

    .player-row:hover {
      background-color: #eeeeee;
      cursor: pointer;
    }
  
}