<mat-dialog-content class="full-width">

  <!-- Bottone per chiusura della dialog -->
  <div class="flex-end full-width">
    <button mat-icon-button class="no-color" (click)="closeAllDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Immagine login -->
  <div class="flex-center-wrap full-width">

    <figure class="img-login-container no-margin tooltip">
      <img class="img-login" src="assets/images/user.jpg" alt="Login">
      <span class="tooltiptext">
        Image by <a href="https://iconizer.net/en/search/No-license-filtering/128-128/1/user"
          target="_blank">iconizer</a>
      </span>
    </figure>
  </div>

  <!-- Titolo -->
  <div class="full-width txt-center">
    <h1>Login</h1>
  </div>

  <div class="flex-center-wrap full-width">

    <div>

      <!-- Input username -->
      <div class="flex-direction-column">
        <label class="top-label" [ngClass]="{'error-color' : isLoginErrorMessageVisible()}">Username</label>
        <mat-form-field appearance="outline" class="input-txt">
          <input matInput type="text" class="text" placeholder="Campo obbligatorio*" (input)="disableLogin();"
            [formControl]="usernameControl">
        </mat-form-field>
      </div>

      <!-- Input password -->
      <div class="flex-direction-column">
        <div class="flex-container">
          <label class="top-label" [ngClass]="{'error-color' : isLoginErrorMessageVisible()}">Password</label>

          <span class="flex-cell"></span>

          <!-- Link recupero password -->
          <label class="top-label link" (click)="recoveryPassword()">Recupera password</label>
        </div>
        <mat-form-field appearance="outline" class="input-txt">
          <input matInput [type]="showPassword ? 'text' : 'password'" class="text"
            placeholder="Campo obbligatorio*" (input)="disableLogin()" [formControl]="passwordControl">

          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Invalid username/password message -->
      <div class="full-width txt-center margin-bottom">
        <span class="top-label error-color" *ngIf="isLoginErrorMessageVisible()">
          Username o password errati 
        </span>
      </div>

      <!-- Pulsanti -->
      <div class="flex-space-between standard-container">

        <!-- Registrazione -->
        <div>
          <button mat-raised-button class="standard-btn label secondary-color" (click)="openRegistrationDialog()">
            Registrati
          </button>
        </div>

        <!-- Login -->
        <div>
          <button mat-raised-button class="standard-btn label" [ngClass]="{'secondary-color' : !disableLoginBtn}"
            [disabled]="disableLoginBtn" (click)="login()">
            Accedi
          </button>
        </div>

      </div>      

    </div>
  </div>
</mat-dialog-content>