<mat-toolbar class="mat-elevation-z8 primary-color-dark">
    <mat-toolbar-row [ngClass]="!getLeagueSelected() ? 'toolbar-simple' : 'toolbar-complete'">
        <button mat-icon-button (click)="openSidenavFromChild()">
            <mat-icon>menu</mat-icon>
        </button>
        <a class="link text primary-color-dark"
        id="myfanta-link" 
        *ngIf="!!getLeagueSelected()"        
        routerLink="">
            My Fanta
        </a>
        <div></div>
        <button mat-icon-button
        routerLink="help">
            <mat-icon>help</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-row-link"
    *ngIf="!!getLeagueSelected()">
        <a class="link text" 
        routerLink="createTeam">
            Create team
        </a>
        <a class="link text" 
        routerLink="playerList">
            Player list
        </a>
        <a class="link text" 
        routerLink="favoritList">
            Favorit list
        </a>
        <a class="link text" 
        routerLink="blackList">
            Blacklist
        </a>
    </mat-toolbar-row>
</mat-toolbar>
