<mat-toolbar class="mat-elevation-z8 primary-color-dark">
    <mat-toolbar-row [ngClass]="championship_selected == '' ? 'toolbar-two-elements' : 'toolbar-three-elements'">
        <button mat-icon-button (click)="openSidenavFromChild()">
            <mat-icon>menu</mat-icon>
        </button>
        <div></div>
        <a class="primary-color-dark" 
        *ngIf="championship_selected != ''"
        (click)="setActiveLink(''); setChampionshipSelected('');"
        routerLink="">
            My Fanta
        </a>
        <div></div>
        <button mat-icon-button
        routerLink="help">
            <mat-icon>help</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-row-link"
    *ngIf="championship_selected != ''">
        <a class="link text" 
        [ngClass]="isActiveLink('Create team') == true ? 'link-toolbar-color' : ''"
        (click)="setActiveLink('Create team')"
        routerLink="createTeam">
            Create team
        </a>
        <a class="link text" 
        [ngClass]="isActiveLink('Player list') == true ? 'link-toolbar-color' : ''"
        (click)="setActiveLink('Player list')"
        routerLink="playerList">
            Player list
        </a>
        <a class="link text" 
        [ngClass]="isActiveLink('Favorit list') == true ? 'link-toolbar-color' : ''"
        (click)="setActiveLink('Favorit list')"
        routerLink="favoritList">
            Favorit list
        </a>
    </mat-toolbar-row>
</mat-toolbar>
