/* TABLE */

.table-player-container {
  width: 100%;
}

.table-player-container .mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.table-player-container .mat-mdc-table .mdc-data-table__header-row {
  background-color: #b6e3ff;
}

/* COLUMN TABLE */

.empty-row {
  height: 60px;
}

.mat-column-cost {
  text-align: center;
}

.mat-column-favorite {
  text-align: center;
}

.mat-column-blacklist {
  text-align: center;
}