@use "src/styles/global/variables";
@use "src/styles/global/styles";

/* Toolbar style */

/* Toolbar */

.toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: var(--toolbar-height);
}

/* Toolbar row */

.toolbar .toolbar-row {
    height: var(--toolbar-height);
}

.toolbar .no-padding {
    padding: 0;
}

mat-toolbar-row .divider {
    height: calc(var(--toolbar-height) * 0.8);
    border-color: white;
    border-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Buttons */

.btn-menu-sports {
    height: var(--toolbar-height);
}

.btn-flat {
    height: var(--toolbar-height);
    background-color: inherit;
}

.btn-flat:hover {
    background-color: #82B1FF !important;
}

/* COLOR  */

.link-toolbar-border {
    background-color: #82B1FF;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}

/* Text */

.text:hover {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

/* Menu user panel */

.user-menu {
    width: 150px !important;
}

.username-menu-panel {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor:auto;
}

.username-menu-panel:hover {
    background-color: inherit;
}