<!-- Messaggi -->
<div class="width-full margin-bottom-7">
    <p-messages [(value)]="messages" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" />
</div>

<!-- FORM RECUPERO PASSWORD -->
<ng-container *ngIf="!isRecoveryPasswordComplete()">

    <div [formGroup]="recoveryPasswordFormGroup" class="margin-x-7">

        <!-- Nome -->
        <div class="flex flex-column width-full">
            <label class="top-label">Nome</label>
            <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputNameErrors()}"
                [pKeyFilter]="blockSpaceTabAndNewLineRe" formControlName="name" />
        </div>

        <!-- Cognome -->
        <div class="flex flex-column width-full margin-top-7">
            <label class="top-label">Cognome</label>
            <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputLastNameErrors()}"
                [pKeyFilter]="blockSpaceTabAndNewLineRe" formControlName="lastName" />
        </div>

        <!-- Username -->
        <div class="flex flex-column margin-top-7">
            <label class="top-label">Username</label>
            <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputUsernameErrors()}"
                [pKeyFilter]="blockSpaceTabAndNewLineRe" formControlName="username" />
        </div>
    </div>

    <div class="width-full flex align-items-center flex-wrap justify-content-center 
        column-gap-3 row-gap-3 margin-top-10">

        <!-- Pulsante per tornare alla dialog di login -->
        <div>
            <p-button styleClass="p-button-raised p-button-sm secondary-color"
                pTooltip="Torna alla pagina di Login" tooltipPosition="left" (onClick)="openLoginDialog()">
                <i class="pi pi-arrow-left" style="color: black;"></i>
                <label class="from-xs-txt-base from-lg-txt-lg margin-left-3 cursor-pointer">Login</label>
            </p-button>
        </div>

        <p-button styleClass="p-button-raised p-button-sm secondary-color"
            [disabled]="isRecoveryPasswordBtnDisabled()"
            (click)="recoveryPassword()" [pTooltip]="getRecoveryPasswordBtnTooltip()" tooltipPosition="right">
            <label class="from-xs-txt-base from-lg-txt-lg cursor-pointer">Recupera password</label>
        </p-button>
    </div>
</ng-container>

<!-- PAGINA PASSWORD RECUPERATA CORRETTAMENTE -->
<div *ngIf="isRecoveryPasswordComplete()" class="margin-y-7 width-full">

    <!-- Immagine -->
    <div class="flex justify-content-center width-full margin-top-3">
        <figure class="no-margin tooltip" [ngClass]="getRecoveryPasswordImageStyleWidth()">
            <p-image src="assets/images/recovery_password2.jpg" alt="Password recuperata con successo"
                imageClass="width-full height-full" />
            <span class="tooltiptext">
                <a href="https://www.freepik.com/free-vector/business-cartoon-with-key-padlock_1013681.htm#page=4&query=unlock%20password&position=2&from_view=search&track=robertav1_2_sidr"
                    target="_blank">
                    Image by kraphix</a> on Freepik
            </span>
        </figure>
    </div>

    <div class="margin-x-3">
        <p class="from-xs-txt-base from-lg-txt-xl">Ciao <span class="bold">{{ getUsername() }}</span>!</p>
        <p class="from-xs-txt-base from-lg-txt-xl line-height-2">Il recupero della password ha avuto successo.<br />
            La tua password è: <span class="bold">{{ password }}</span></p>
    </div>

    <div class="width-full flex align-items-center justify-content-center margin-top-10">

        <!-- Pulsante per tornare alla dialog di login -->
        <div>
            <p-button styleClass="p-button-raised p-button-sm secondary-color" pTooltip="Torna alla pagina di Login"
                tooltipPosition="left" (onClick)="openLoginDialog()">
                <i class="pi pi-arrow-left" style="color: black;"></i>
                <label class="txt-lg margin-left-3 cursor-pointer">Login</label>
            </p-button>
        </div>

    </div>
</div>