<div class="width-full">

  <!-- Messaggio username/password errati -->
  <div class="width-full margin-bottom-7">
    <p-messages [(value)]="messages" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" />
  </div>

  <!-- Immagine login -->
  <div class="flex justify-content-center width-full">

    <figure class="no-margin tooltip" [ngClass]="isMobileView() ? 'max-width-6rem' : 'max-width-8rem'">
      <p-image src="assets/images/user.jpg" alt="Login" imageClass="width-full height-full" />
      <span class="tooltiptext">
        Image by <a href="https://iconizer.net/en/search/No-license-filtering/128-128/1/user"
          target="_blank">iconizer</a>
      </span>
    </figure>
  </div>  

  <div class="width-full">

    <div [formGroup]="formGroup" class="flex flex-column flex-nowrap align-items-center width-full">

      <!-- Input username -->
      <div class="flex flex-column width-full max-width-25rem">
        <label class="top-label">Username</label>
        <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputUsernameErrors()}"
          (input)="disableLogin()" formControlName="username" />
      </div>

      <!-- Input password -->
      <div class="flex flex-column margin-top-10 width-full max-width-25rem">

        <div class="flex">
          <label class="top-label">Password</label>
          <span class="flex-1"></span>
          <!-- Link recupero password -->
          <label class="top-label link" (click)="recoveryPassword()">Recupera password</label>
        </div>

        <p-password class="width-full" [ngClass]="{'ng-invalid' : hasInputPasswordErrors()}"
            [toggleMask]="true" [feedback]="false" (input)="disableLogin()" formControlName="password" />
      </div>

      <!-- Pulsanti -->
      <div class="flex column-gap-3 margin-y-10">

        <!-- Registrazione -->
        <div>
          <p-button styleClass="p-button-raised secondary-color" 
            pTooltip="Crea un nuovo account" tooltipPosition="bottom"
            (click)="openRegistrationDialog()">
              <label class="txt-lg cursor-pointer">Registrati</label>
          </p-button>
        </div>

        <!-- Login -->
        <div>
          <p-button styleClass="p-button-raised secondary-color" [disabled]="disableLoginBtn"
            (click)="login()" [pTooltip]="getLoginTooltip()" tooltipPosition="bottom">
              <label class="txt-lg cursor-pointer">Accedi</label>
          </p-button>
        </div>

      </div>

    </div>
  </div>
</div>