<form>

    <!-- FORM RECUPERO PASSWORD -->
    <ng-container *ngIf="!isRecoveryPasswordComplete()">

        <div class="recovery-password-container">
            <!-- Input nome -->
            <div>
                <label class="label" [ngClass]="{'error-color' : showRecoveryPasswordErrorMessage()}">Nome</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text"
                        placeholder="Campo obbligatorio*"
                        (focus)="tooltipName.show()"
                        (input)="disableRecoveryPassword()"
                        [formControl]="nameControl">
                    <button mat-icon-button matSuffix 
                    [ngClass]="hasInputNameErrors() || showRecoveryPasswordErrorMessage() ? 
                        'material-icons color_red' : 'material-icons color_green'"
                    #tooltipName="matTooltip"
                    [matTooltip]="hasInputNameErrors() ? 'Campo obbligatorio' : ''">
                        <mat-icon *ngIf="hasInputNameErrors() || showRecoveryPasswordErrorMessage()">error</mat-icon>
                        <mat-icon *ngIf="!hasInputNameErrors() && !showRecoveryPasswordErrorMessage()">check_circle</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        
            <!-- Input cognome -->
            <div class="mt-10px">
                <label class="label" [ngClass]="{'error-color' : showRecoveryPasswordErrorMessage()}">Cognome</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text"
                        placeholder="Campo obbligatorio*"
                        (focus)="tooltipSurname.show()"
                        (input)="disableRecoveryPassword()"
                        [formControl]="surnameControl">
                    <button mat-icon-button matSuffix 
                    [ngClass]="hasInputSurnameErrors() || showRecoveryPasswordErrorMessage() ? 
                        'material-icons color_red' : 'material-icons color_green'"
                    #tooltipSurname="matTooltip"
                    [matTooltip]="hasInputSurnameErrors() ? 'Campo obbligatorio' : ''">
                        <mat-icon *ngIf="hasInputSurnameErrors() || showRecoveryPasswordErrorMessage()">error</mat-icon>
                        <mat-icon *ngIf="!hasInputSurnameErrors() && !showRecoveryPasswordErrorMessage()">check_circle</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        
            <!-- Input username -->
            <div class="mt-10px">
                <label class="label" [ngClass]="{'error-color' : showRecoveryPasswordErrorMessage()}">Username</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text"
                        placeholder="Campo obbligatorio*"
                        (focus)="tooltipUsername.show()"
                        (input)="disableRecoveryPassword()"
                        [formControl]="usernameControl">
                    <button mat-icon-button matSuffix 
                    [ngClass]="hasInputUsernameErrors() || showRecoveryPasswordErrorMessage() ? 
                        'material-icons color_red' : 'material-icons color_green'"
                    #tooltipUsername="matTooltip"
                    [matTooltip]="hasInputUsernameErrors() ? 'Campo obbligatorio' : ''">
                        <mat-icon *ngIf="hasInputUsernameErrors() || showRecoveryPasswordErrorMessage()">error</mat-icon>
                        <mat-icon *ngIf="!hasInputUsernameErrors() && !showRecoveryPasswordErrorMessage()">check_circle</mat-icon>
                    </button>
                </mat-form-field>
            </div>
    
            <ng-container *ngIf="showRecoveryPasswordErrorMessage()">
                <div class="flex-container justify-center mt-10px">
                    <p class="validation-error-label error-color">
                        Impossibile recuperare la password. Nessun utente trovate con queste credenziali.
                    </p>
                </div>
            </ng-container>
        
            <div class="flex-container justify-center mt-10px">
                <button mat-raised-button class="text secondary-color recovery-password-btn" 
                [disabled]="isRecoveryPasswordBtnDisabled()"
                (click)="recoveryPassword()">
                    <span>Recupera password</span>
                </button>
            </div>
        </div>

    </ng-container>
    
    <!-- PAGINA PASSWORD RECUPERATA CORRETTAMENTE -->
    <ng-container *ngIf="isRecoveryPasswordComplete()">
        <div class="flex-container recovery-completed-container">            
            <figure class="flex-container fig-container tooltip">
                <img class="img-recovery-completed" src="assets/images/recovery_password2.jpg" alt="Persona che sblocca un lucchetto con una chiave">
                <span class="tooltiptext">
                    <a href="https://www.freepik.com/free-vector/business-cartoon-with-key-padlock_1013681.htm#page=4&query=unlock%20password&position=2&from_view=search&track=robertav1_2_sidr" target="_blank">
                        Image by kraphix</a> on Freepik
                </span>
            </figure>
            <div class="flex-container txt-result-container">
                <h2 class="text">Password recuperata !!</h2>
                <br>
                <p class="text txt-result">La tua password è : {{ getPassword() }} </p> 
            </div>
        </div>
    </ng-container>
</form>

