
@import "src/styles/global/breakpoints";

.input-txt {
    max-width: 350px !important;
    width: 100%;
}

@media (min-width: $mobileXL-breakpoint) {

    .input-txt {
        max-width: none;
        min-width: 350px !important;
        width: 100%;
    }
}