@use "src/styles/global/styles";
@use "src/styles/angular-component/buttons";
@use "src/styles/angular-component/input";
@use "src/styles/angular-component/form";
@import "src/styles/global/colors";
@import "src/styles/global/breakpoints";


.custom-mini-btn {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}

.custom-mini-btn:hover {
    background-color: $primary-color-light;
}

.custom-mini-btn-selected {
    background-color: $primary-color-light;
    border-width: 2px;
    border-style: solid;
}

.custom-mini-btn-selected:hover {
    background-color: $primary-color;
}

.icon-size {
    font-size: 12px;
    height: 14px;
    width: 14px;
}