@use "src/styles/global/styles";
@use "src/styles/component/spinner";
@use "src/styles/component/buttons";
@import "src/styles/global/breakpoints";
@import "src/styles/global/colors";
@import "src/styles/global/variables";

/*
==============
TOOLBAR STYLE
==============
*/

/* Toolbar */

.toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.toolbar-row {
    padding-left: 16px;
}

@media (min-width: $laptop-breakpoint) {

    .toolbar-row {
        padding-left: 0;
    }
}

/* Buttons */

.btn-menu {
    height: calc($toolbar-height * 0.6);
    background-color: inherit !important;
    width: min-content;
}

.btn-menu:hover {
    background-color: $primary-color !important;
}

.btn-menu-link {
    background-color: $primary-color !important;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}

@media (max-width: $mobileXL-breakpoint) {

    .btn-menu {
        height: calc($toolbar-height-mobile * 0.6);
    }
}

@media (max-width: $laptop-breakpoint) {

    .btn-menu {
        padding: 2px;
    }
}

/* Menu user panel */

.user-menu {
    min-width: 150px !important;
    width: 100%;
}

/*
 * ========
 * SIDENAV
 * ========
 */

.sidenav-container {
    height: 100%;
}

.sidenav {
    max-width: 300px;
    width: 100%;
}

@media (max-width: $mobileXL-breakpoint) {

    .sidenav {
        width: calc(100% - 100px);
    }
}

/* Expansion panel element */

.expansion-panel-header-sport {
    border-style: solid;
    border-bottom: 2px !important;
    border-width: 0.5px;
}

:host {

    ::ng-deep {

        .mat-expansion-panel-body {
            padding: 0px;
        }

    }
}