@use "src/styles/global/styles";
@use "src/styles/angular-component/buttons";
@use "src/styles/angular-component/toolbar";
@import "src/styles/global/breakpoints";
@import "src/styles/global/colors";
@import "src/styles/global/variables";

/*
========
TOOLBAR
========
*/

.title-menu {
    font-family: fantasy;
    font-style: italic;
}

/* Menu user panel */

.user-menu {
    min-width: 150px !important;
    width: 100%;
}