<!-- Filtro smart -->
<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title><span class="text">Opzioni di ricerca giocatori</span></mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Sezione filtri di ricerca -->
    <div class="large-padding">

        <!--  
        ================================
        LARGE DEVICE - LAPTOP - TABLET
        ================================
        -->
        <div *ngIf="!(breakpointsService.mobileOrMobileXLObservable | async)">
            <!-- Prima riga -->
            <div class="flex-center">
    
                <!-- Budget -->
                <div class="cell-4of12 flex-direction-column margin">
                    <label class="top-label">Budget</label>
                    <input matInput type="number" class="label native-input native-input-number" min="0" step="1"
                        [disabled]="option.includeAdvancedFilter" (blur)="checkBudgetValue()"
                        [(ngModel)]="option.budget">
                </div>
    
                <!-- Valutazione media squadra -->
                <div class="cell-4of12 flex-direction-column margin">
                    <label class="top-label">FMV</label>
                    <input matInput type="number" class="label native-input native-input-number" min="0" step="1"
                        [disabled]="option.includeAdvancedFilter">
                </div>
    
                <!-- Giocatori preferiti / escludere -->
                <div class="cell-4of12 flex-center margin">
    
                    <div class="full-width flex-direction-column">
                        <label class="top-label">Preferiti</label>
                        <mat-checkbox color="primary" [(ngModel)]="option.includeFavorite"
                            [disabled]="option.includeAdvancedFilter"
                            (change)="checkFavoritePlayersAreIncluded($event.checked)">
                        </mat-checkbox>
                    </div>
    
                    <div class="full-width flex-direction-column">
                        <label class="top-label">Esclusi</label>
                        <mat-checkbox color="primary" [(ngModel)]="option.includeBlacklist"
                            [disabled]="option.includeAdvancedFilter"
                            (change)="checkBlacklistPlayersAreIncluded($event.checked)">
                        </mat-checkbox>
                    </div>
    
                </div>
    
            </div>
    
            <!-- Seconda riga -->
            <div class="flex-center standard-container">
    
                <!-- Selezione squadre -->
                <div class="cell-12of12 flex-direction-column margin">
                    <div class="margin-bottom">
                        <label class="top-label">Squadre</label>
                        <mat-icon class="margin-left icon-size"
                            matTooltip="Se nessuna squadra è selezionata la ricerca verrà effettuata su tutte le squadre">
                            info
                        </mat-icon>
                    </div>
                    <app-team-list-responsive [clearTeams]="isClearSelectedTeamsEnabled()"
                        (updateSelectedTeamEvent)="updateSelectedTeamsList($event)">
                    </app-team-list-responsive>
                </div>
    
            </div>
    
            <!-- Terza riga -->
            <div class="flex-center">
    
                <!-- Opzioni di ricerca avanzate -->
                <div class="cell-6of12 standard-container margin">
                    <mat-slide-toggle [(ngModel)]="option.includeAdvancedFilter" labelPosition="before" color="primary"
                        matTooltip="Applica i filtri definiti nella pagina 'Opzioni di ricerca'"
                        (change)="checkAdvancedFilterAreIncluded($event.checked)">
                        <label class="label">Applica filtro di ricerca avanzata</label>
                    </mat-slide-toggle>
                </div>
    
                <!-- Pulsante creazione squadra -->
                <div class="cell-6of12 flex-end margin">
                    <button mat-raised-button class="standard-btn label">Cerca giocatori
                    </button>
                </div>
    
            </div>
        </div>

        <!--  
        ===================
        MOBILE XL - MOBILE
        ===================
        -->
        <div *ngIf="breakpointsService.mobileOrMobileXLObservable | async">
            <!-- Prima riga -->
            <div class="flex-center">
    
                <!-- Budget -->
                <div class="cell-5of12 flex-direction-column">
                    <label class="top-label">Budget</label>
                    <input matInput type="number" class="label native-input native-input-number" min="0" step="1"
                        [disabled]="option.includeAdvancedFilter" (blur)="checkBudgetValue()"
                        [(ngModel)]="option.budget">
                </div>

                <div class="cell-2of12"></div>
    
                <!-- Valutazione media squadra -->
                <div class="cell-5of12 flex-direction-column">
                    <label class="top-label">FMV</label>
                    <input matInput type="number" class="label native-input native-input-number" min="0" step="1"
                        [disabled]="option.includeAdvancedFilter">
                </div>
    
            </div>

            <!-- Seconda riga -->
            <div class="flex-center small-container">
    
                <!-- Selezione squadre -->
                <div class="cell-12of12 flex-direction-column">
                    <div class="margin-bottom">
                        <label class="top-label">Squadre</label>
                        <mat-icon class="margin-left icon-size"
                            matTooltip="Se nessuna squadra è selezionata la ricerca verrà effettuata su tutte le squadre">
                            info
                        </mat-icon>
                    </div>
                    <app-team-list-responsive [clearTeams]="isClearSelectedTeamsEnabled()"
                        (updateSelectedTeamEvent)="updateSelectedTeamsList($event)">
                    </app-team-list-responsive>
                </div>
    
            </div>

            <!-- Terza riga -->
            <div class="flex-center small-container">

                <div class="cell-3of12">
                    <label class="label bold">Preferiti</label>
                    <mat-checkbox color="primary" [(ngModel)]="option.includeFavorite"
                        [disabled]="option.includeAdvancedFilter"
                        (change)="checkFavoritePlayersAreIncluded($event.checked)">
                    </mat-checkbox>
                </div>

                <div class="cell-3of12">
                    <label class="label bold">Esclusi</label>
                    <mat-checkbox color="primary" [(ngModel)]="option.includeBlacklist"
                        [disabled]="option.includeAdvancedFilter"
                        (change)="checkBlacklistPlayersAreIncluded($event.checked)">
                    </mat-checkbox>
                </div> 

            </div>

            <!-- Terza riga -->
            <div class="flex-center small-container">

                <!-- Opzioni di ricerca avanzate -->
                <div class="cell-12of12 flex-center">
                    <label class="label margin-right">Applica "Opzioni di ricerca"</label>
                    <mat-slide-toggle [(ngModel)]="option.includeAdvancedFilter" color="primary"
                        matTooltip="Applica i filtri definiti nella pagina 'Opzioni di ricerca'"
                        (change)="checkAdvancedFilterAreIncluded($event.checked)">                        
                    </mat-slide-toggle>
                </div>

            </div>   
    
            <!-- Quarta riga -->
            <div class="flex-center standard-container">                
    
                <!-- Pulsante creazione squadra -->
                <div class="cell-12of12 flex-center-wrap">
                    <button mat-raised-button class="standard-btn label">Cerca giocatori
                    </button>
                </div>
    
            </div>
        </div>


    </div>

</mat-expansion-panel>