<!-- Filtro smart -->
<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title><span class="text">Opzioni di ricerca giocatori</span></mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Sezione filtri di ricerca -->
    <div class="padding-large">

        <!-- Verione standard -->
        <div *ngIf="!(breakpointsService.mobileOrMobileXLObservable | async)">
            <!-- Prima riga -->
            <div class="flex-center">
    
                <!-- Budget -->
                <div class="cell-static-2of12 flex-direction-column margin">
                    <label class="top-label">Budget</label>
                    <input matInput type="number" class="input-native-responsive input-native-number hide-up-down-number label" 
                        min="0" step="1"
                        [disabled]="option.includeAdvancedFilter" 
                        (blur)="checkBudgetValue()">
                </div>
    
                <!-- Valutazione media squadra -->
                <div class="cell-static-2of12 flex-direction-column margin">
                    <label class="top-label">FMV</label>
                    <input matInput type="number" class="input-native-responsive input-native-number hide-up-down-number label" 
                        min="0" step="1"
                        [disabled]="option.includeAdvancedFilter">
                </div>

                <!-- Spzio vuoto -->
                <div class="cell-static-1of12"></div>
    
                <!-- Giocatori preferiti / escludere -->
                <div class="cell-static-4of12 flex-center">
    
                    <div class="flex-direction-column">
                        <label class="top-label">Giocatori</label>
                        <div class="full-width flex-center">

                            <div class="full-width flex-center">
                                <label class="label" style="width: 80px;">Preferiti:</label>
                                <mat-checkbox color="primary"
                                    [disabled]="option.includeAdvancedFilter"
                                    (change)="checkFavoritePlayersAreIncluded($event.checked)">                                    
                                </mat-checkbox>
                            </div>

                            <div class="full-width flex-center margin-left">
                                <label class="label" style="width: 80px;">Esclusi:</label>
                                <mat-checkbox color="primary"
                                    [disabled]="option.includeAdvancedFilter"
                                    (change)="checkBlacklistPlayersAreIncluded($event.checked)">
                                </mat-checkbox>
                            </div>
                            
                        </div>
                    </div>
                </div>
    
            </div>
    
            <!-- Seconda riga -->
            <div class="flex-center standard-container">
    
                <!-- Selezione squadre -->
                <div class="cell-12of12 flex-direction-column margin">
                    <div class="margin-bottom">
                        <label class="top-label">Squadre</label>
                        <mat-icon class="margin-left small-icon-size"
                            matTooltip="Se nessuna squadra è selezionata la ricerca verrà effettuata su tutte le squadre">
                            info
                        </mat-icon>
                    </div>
                    <app-team-list-responsive [clearTeams]="isClearSelectedTeamsEnabled()"
                        (updateSelectedTeamEvent)="updateSelectedTeamsList($event)">
                    </app-team-list-responsive>
                </div>
    
            </div>
    
            <!-- Terza riga -->
            <div class="flex-center">
    
                <!-- Opzioni di ricerca avanzate -->
                <div class="cell-6of12 standard-container margin">
                    <mat-slide-toggle labelPosition="before" color="primary"
                        matTooltip="Applica i filtri definiti nella pagina 'Opzioni di ricerca'"
                        (change)="checkAdvancedFilterAreIncluded($event.checked)">
                        <label class="label">Applica filtri di 'Opzioni di Ricerca'</label>
                    </mat-slide-toggle>
                </div>
    
                <!-- Pulsante creazione squadra -->
                <div class="cell-6of12 flex-end margin">
                    <button mat-raised-button class="btn-standard label">Cerca giocatori
                    </button>
                </div>
    
            </div>
        </div>

        <!-- Versione mobile -->
        <div *ngIf="breakpointsService.mobileOrMobileXLObservable | async">

            <!-- Prima riga -->
            <div class="flex-center">
    
                <!-- Budget -->
                <div class="cell-static-5of12 flex-direction-column">
                    <label class="top-label">Budget</label>
                    <input matInput type="number" class="input-native-responsive input-native-number hide-up-down-number label" 
                        min="0" step="1"
                        [disabled]="option.includeAdvancedFilter" (blur)="checkBudgetValue()">
                </div>
    
                <!-- Valutazione media squadra -->
                <div class="cell-static-5of12 flex-direction-column margin-large-left">
                    <label class="top-label">FMV</label>
                    <input matInput type="number" class="input-native-responsive input-native-number hide-up-down-number label" 
                        min="0" step="1"
                        [disabled]="option.includeAdvancedFilter">
                </div>
    
            </div>

            <!-- Seconda riga -->
            <div class="flex-center small-container">
                <div class="flex-direction-column">
                    <label class="label bold">Giocatori</label>
                    <div class="full-width flex-center">

                        <div class="full-width flex-center">
                            <label class="label" style="width: 50px;">Preferiti:</label>
                            <mat-checkbox color="primary"
                                [disabled]="option.includeAdvancedFilter"
                                (change)="checkFavoritePlayersAreIncluded($event.checked)">                                    
                            </mat-checkbox>
                        </div>

                        <div class="full-width flex-center margin-left">
                            <label class="label" style="width: 50px;">Esclusi:</label>
                            <mat-checkbox color="primary"
                                [disabled]="option.includeAdvancedFilter"
                                (change)="checkBlacklistPlayersAreIncluded($event.checked)">
                            </mat-checkbox>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Terza riga -->
            <div class="flex-center small-container">
    
                <!-- Selezione squadre -->
                <div class="cell-12of12 flex-direction-column">
                    <div class="margin-bottom">
                        <label class="top-label">Squadre</label>
                        <mat-icon class="margin-left icon-size"
                            matTooltip="Se nessuna squadra è selezionata la ricerca verrà effettuata su tutte le squadre">
                            info
                        </mat-icon>
                    </div>
                    <app-team-list-responsive [clearTeams]="isClearSelectedTeamsEnabled()"
                        (updateSelectedTeamEvent)="updateSelectedTeamsList($event)">
                    </app-team-list-responsive>
                </div>
    
            </div>            

            <!-- Quarta riga -->
            <div class="flex-center standard-container">

                <!-- Opzioni di ricerca avanzate -->
                <div class="cell-12of12 flex-center">
                    <label class="label margin-right">Opzioni di ricerca</label>
                    <mat-slide-toggle color="primary"
                        matTooltip="Applica i filtri definiti nella pagina 'Opzioni di ricerca'"
                        (change)="checkAdvancedFilterAreIncluded($event.checked)">                        
                    </mat-slide-toggle>
                </div>

            </div>   
    
            <!-- Quarta riga -->
            <div class="flex-center standard-container">                
    
                <!-- Pulsante creazione squadra -->
                <div class="cell-12of12 flex-center-wrap">
                    <button mat-raised-button class="btn-standard label">Cerca giocatori
                    </button>
                </div>
    
            </div>
        </div>


    </div>

</mat-expansion-panel>