
.filter-container {
    padding: 24px;
}

.option-advanced-filter-container input {
    margin-left: 30px;
    transform: scale(2);
}

.option-budget-container {
    max-width: 150px;
    width: 100%;
}

.input-container {
    height: 30px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
}

.input-container:disabled {
    opacity: 0.5;
}

.age-container {
    width: 80%;
}

.small-input {
    width: 100%;
    max-width: 80px;
}

.icon-size {
    font-size: 12px;
    height: 14px;
    width: 14px;
}