/* TABLE */

table {
  width: 100%;
}

/* HEADER TABLE */

.mat-header-cell {
  padding-left: 24px !important;
  font-weight: 500 !important;
}

/* ROW TABLE */

.mat-cell {
  padding-left: 24px !important;

  border-style: solid;
  border-width: 0.5px;
  border-left: 0;
  border-right: 0;
}

/* COLUMN TABLE */

.mat-column-Name {
  width: 40%;
}

.mat-column-Team {
  width: 30%;
}

.mat-column-Cost {
  width: 15%;
}

.mat-column-favoritePlayer {
  width: 15%;
  text-align: center;
}

/* LINK */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: 500;
  text-decoration: underline;
}

/* TEXT TABLE */

@media screen and (900px >= width >= 801px) {

  .mat-header-cell {
    font-size: 12px;
  }

  .mat-cell {
    font-size: 12px !important;
  }

  a {
    font-size: 12px;
  }
}