<table mat-table class="table-player" [dataSource]="getDataSource()" matSort multiTemplateDataRows (window:resize)="setColumns()">

  <ng-container matColumnDef="Name">
    <th class="txt-header" mat-header-cell mat-sort-header="playerName" *matHeaderCellDef>Calciatore</th>
    <td mat-cell *matCellDef="let player">
      <a class="txt-link" routerLink="/detail/{{player.playerName}}">
        {{ player.playerName }}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="Team">
    <th class="txt-header" mat-header-cell mat-sort-header="team" *matHeaderCellDef>
      {{getInnerWidth() <= 400 ? 'Sq' : 'Squadra'}}
    </th>
    <td class="text" mat-cell *matCellDef="let player">{{ player.team }}</td>
  </ng-container>

  <ng-container matColumnDef="Role">
    <th class="txt-header" mat-header-cell mat-sort-header="role" *matHeaderCellDef>
      {{getInnerWidth() <= 400 ? 'R' : 'Ruolo'}}
    </th>
    <td class="text" mat-cell *matCellDef="let player">{{ player.role }}</td>
  </ng-container>

  <ng-container matColumnDef="Cost">
    <th class="txt-header" mat-header-cell mat-sort-header="cost" *matHeaderCellDef>QA</th>
    <td class="text" mat-cell *matCellDef="let player">{{ player.cost }}</td>
  </ng-container>

  <ng-container matColumnDef="Favorit">
    <th class="txt-header" mat-header-cell *matHeaderCellDef>Preferito</th>
    <td mat-cell *matCellDef="let player">
      <button mat-icon-button
      class="icon-btn"
      [disabled]="isPlayerIntoBlacklist(player)"      
      *ngIf="!isFavoritePlayer(player)"
      (click)="setPlayerAsFavorite(player); setPlayerSelected(player)">
          <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button
      *ngIf="isFavoritePlayer(player)"
      class="secondary-color icon-btn"
      (click)="removePlayerAsFavorite(player); setPlayerSelected(player)">
        <mat-icon>favorite</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="Blacklist">
    <th class="txt-header" mat-header-cell *matHeaderCellDef>Blacklist</th>
    <td mat-cell *matCellDef="let player" class="test">
      <button mat-icon-button
      class="icon-btn"
      [ngClass]="isPlayerIntoBlacklist(player) ? 'secondary-color' : ''"
      (click)="setPlayerSelected(player); 
      isPlayerIntoBlacklist(player) ? removePlayerFromBlacklist(player) : addPlayerIntoBlacklist(player)">
        <mat-icon>block</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="Expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
    <td mat-cell *matCellDef="let player">
      <button mat-icon-button aria-label="expand row"
      class="icon-btn"
      [ngClass]="isPlayerExpanded(player) ? 'secondary-color' : ''"
      (click)="expandedPlayer(player); $event.stopPropagation()">
        <mat-icon *ngIf="!isPlayerExpanded(player)">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="isPlayerExpanded(player)">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let player" [attr.colspan]="getColumns().length">
      <div class="expanded-player-detail"
        [@detailExpand]="player == expanded_player ? 'expanded' : 'collapsed'">
        <div class="container-expanded-detail-btn">
          <span>Preferito</span>
          <button mat-icon-button
          class="icon-btn"
          [disabled]="isPlayerIntoBlacklist(player)"      
          *ngIf="!isFavoritePlayer(player)"
          (click)="setPlayerAsFavorite(player); setPlayerSelected(null)">
              <mat-icon>favorite_border</mat-icon>
          </button>
          <button mat-icon-button
          *ngIf="isFavoritePlayer(player)"
          class="secondary-color icon-btn"
          (click)="removePlayerAsFavorite(player)">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
        <div class="container-expanded-detail-btn">
          <span>Blacklist</span>
          <button mat-icon-button
          class="icon-btn"
          [ngClass]="isPlayerIntoBlacklist(player) ? 'secondary-color' : ''"
          (click)="isPlayerIntoBlacklist(player) ? removePlayerFromBlacklist(player) : addPlayerIntoBlacklist(player)">
            <mat-icon>block</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row 
    *matHeaderRowDef="getColumns();" 
    class="primary-color header-container">
  </tr>
  <tr mat-row 
    *matRowDef="let player; columns: getColumns();" 
    (click)="setPlayerSelected(player); expandedPlayer(player)"
    [ngClass]="[isPlayerSelected(player) ? 'row-selected' : '', isLayoutMobile() ? 'border-bottom-0' : '']"
    class="player-row">
  </tr>
  <ng-container *ngIf="isLayoutMobile()">
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </ng-container>
</table>
<mat-paginator
  class="primary-color"
  (page)="handlePageEvent($event)"
  [pageSize]="getPageSize()"
  [pageIndex]="getPageIndex()"
  [pageSizeOptions]="getPageSizeOptions()"
  showFirstLastButtons
  aria-label="Select page">
</mat-paginator>