/* TABLE */

.table-player-container {
  width: 100%;
}

/* COLUMN TABLE */

.empty-row {
  height: 60px;
}

.mat-column-name {
  max-width: 30%;
}

.mat-column-team {
  max-width: 15%;
}

.mat-column-role {
  text-align: center;
}

.mat-column-cost {
  text-align: center;
}

.mat-column-favorite {
  text-align: center;
}

.mat-column-blacklist {
  text-align: center;
}