
<mat-dialog-content>

    <!-- Container bottoni top -->
    <div class="flex-container">
        <!-- Bottone per tornare alla dialog di login -->
        <button mat-flat-button class="no-color btn-back-login"
        (click)="openLoginDialog()">
            <mat-icon>reply</mat-icon>
            <span class="ml-10px text">Login</span>
        </button>
        <span class="flex-item-1-1-auto"></span>
        <!-- Bottone per la chiusura della dialog -->
        <button mat-icon-button class="no-color" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- FORM RECUPERO PASSWORD -->
    <form *ngIf="!isRecoveryPasswordComplete()" class="mt-30px">

        <h1 class="text txt-center">Recupero password</h1>

        <div class="recovery-password-container">
            <!-- Input nome -->
            <div>
                <label class="label" [ngClass]="{'error-color' : showRecoveryPasswordErrorMessage()}">Nome</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text"
                        placeholder="Campo obbligatorio*"
                        (input)="disableRecoveryPassword()"
                        [formControl]="nameControl">
                </mat-form-field>
            </div>
        
            <!-- Input cognome -->
            <div class="mt-10px">
                <label class="label" [ngClass]="{'error-color' : showRecoveryPasswordErrorMessage()}">Cognome</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text"
                        placeholder="Campo obbligatorio*"
                        (input)="disableRecoveryPassword()"
                        [formControl]="surnameControl">
                </mat-form-field>
            </div>
        
            <!-- Input username -->
            <div class="mt-10px">
                <label class="label" [ngClass]="{'error-color' : showRecoveryPasswordErrorMessage()}">Username</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text"
                        placeholder="Campo obbligatorio*"
                        (input)="disableRecoveryPassword()"
                        [formControl]="usernameControl">
                </mat-form-field>
            </div>
    
            <ng-container *ngIf="showRecoveryPasswordErrorMessage()">
                <div class="flex-container justify-center mt-10px">
                    <p class="validation-error-label error-color">
                        Nessun utente trovato! Impossibile recuperare la password
                    </p>
                </div>
            </ng-container>
        
            <div class="flex-container justify-center mt-10px">
                <button mat-raised-button class="text secondary-color recovery-password-btn mb-10px mt-10px" 
                [disabled]="isRecoveryPasswordBtnDisabled()"
                (click)="recoveryPassword()">
                    <span>Recupera password</span>
                </button>
            </div>
        </div>
    </form>
        
    <!-- PAGINA PASSWORD RECUPERATA CORRETTAMENTE -->
    <div *ngIf="isRecoveryPasswordComplete()">
        <div class="flex-container recovery-completed-container">            
            <figure class="flex-container fig-container tooltip">
                <img class="img-recovery-completed" src="assets/images/recovery_password2.jpg" alt="Persona che sblocca un lucchetto con una chiave">
                <span class="tooltiptext">
                    <a href="https://www.freepik.com/free-vector/business-cartoon-with-key-padlock_1013681.htm#page=4&query=unlock%20password&position=2&from_view=search&track=robertav1_2_sidr" target="_blank">
                        Image by kraphix</a> on Freepik
                </span>
            </figure>
            <div class="flex-container txt-result-container">
                <h2 class="text">Password recuperata !!</h2>
                <br>
                <p class="text txt-result">La tua password è : {{ getPassword() }} </p> 
            </div>
        </div>
    </div>

</mat-dialog-content>

