/* Bottoni top della dialog */

.btn-back-login {
    height: inherit !important;
}

/* FORM RECUPERO PASSWORD */

.input-txt {
    min-width: 300px;
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.validation-error-label {
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}

.recovery-password-btn {
    max-width: 250px;
    height: 50px !important;
    width: 100%;
}

/* FINE FORM RECUPERO PASSWORD */

/* RECUPERO PASSWORD CON SUCCESSO */

.recovery-completed-container .txt-result-container {
    max-width: 40%;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    align-self: center;
    word-break: break-word;
}

/* Immagini */

.recovery-completed-container .fig-container {
    max-width: 60%;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    
}

.recovery-completed-container .img-recovery-completed {
    width: 100%;
    height: 100%;
}

/* FINE RECUPERO PASSWORD CON SUCCESSO */