<mat-dialog-content>

    <!-- Container bottoni top -->
    <div class="full-width flex-center">

        <!-- Bottone per tornare alla dialog di login -->
        <div class="cell-6of12 flex-start">
            <button mat-flat-button class="no-color" (click)="openLoginDialog()">
                <mat-icon>reply</mat-icon>
                <span class="label">Login</span>
            </button>
        </div>

        <!-- Bottone per la chiusura della dialog -->
        <div class="cell-6of12 flex-end">
            <button mat-icon-button class="no-color" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </div>

    <!-- FORM RECUPERO PASSWORD -->
    <form *ngIf="!isRecoveryPasswordComplete()" class="standard-container full-width">

        <div>
            <!-- Nome -->
            <div class="flex-direction-column">
                <label class="top-label">Nome</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text" placeholder="Campo obbligatorio*"
                        (input)="disableRecoveryPassword()" [formControl]="nameControl">
                </mat-form-field>
            </div>

            <!-- Input cognome -->
            <div class="flex-direction-column">
                <label class="top-label">Cognome</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text" placeholder="Campo obbligatorio*"
                        (input)="disableRecoveryPassword()" [formControl]="surnameControl">
                </mat-form-field>
            </div>

            <!-- Input username -->
            <div class="flex-direction-column">
                <label class="top-label">Username</label>
                <mat-form-field appearance="outline" class="input-txt">
                    <input matInput type="text" class="text" placeholder="Campo obbligatorio*"
                        (input)="disableRecoveryPassword()" [formControl]="usernameControl">
                </mat-form-field>
            </div>

            <ng-container *ngIf="showRecoveryPasswordError">
                <div>
                    <p class="label txt-center error-color">Nessun utente trovato</p>
                </div>
            </ng-container>

            <div class="flex-center-wrap standard-container">
                <button mat-raised-button class="standard-btn label"
                    [ngClass]="{'secondary-color' : !disableRecoveryPasswordBtn}"
                    [disabled]="disableRecoveryPasswordBtn" (click)="recoveryPassword()">
                    <span>Recupera password</span>
                </button>
            </div>
        </div>
    </form>

    <!-- PAGINA PASSWORD RECUPERATA CORRETTAMENTE -->
    <div *ngIf="isRecoveryPasswordComplete()" class="standard-container recovery-password-container full-width">

        <div class="standard-container flex-center-wrap">

            <figure class="img-recovery-password-container no-margin tooltip">
                <img class="img-recovery-password" src="assets/images/recovery_password2.jpg"
                    alt="Password recuperata con successo">
                <span class="tooltiptext">
                    <a href="https://www.freepik.com/free-vector/business-cartoon-with-key-padlock_1013681.htm#page=4&query=unlock%20password&position=2&from_view=search&track=robertav1_2_sidr"
                        target="_blank">
                        Image by kraphix</a> on Freepik
                </span>
            </figure>

        </div>

        <div>
            <h1 class="txt-center">Password : {{ password }} </h1>
        </div>
    </div>

</mat-dialog-content>