<div class="flex-container">

    <ng-container *ngIf="!isMobileBreakpointActive">
        <div class="cell-static-2of12 primary-color-light"></div>
    </ng-container>

    <!-- Contenuto della pagina -->
    <div class="margin-xl" [ngClass]="{'cell-static-8of12' : !isMobileBreakpointActive}">

        <!-- Titolo pagina -->
        <div class="txt-center">
            <h1 class="title-card-text">Scheda giocatore</h1>
        </div>

        <!-- Immagine giocatore + info -->
        <div [ngClass]="isMobileBreakpointActive ? 'flex-center-wrap' : 'flex-container'">
            <!-- Immagine giocatore -->
            <div class="img-player-profile-container">
                <figure class="flex-container tooltip">
                  <img class="img-player-profile" src="assets/images/football-player.png" alt="Immagine giocatore">
                  <span class="tooltiptext">
                    <a href="https://www.flaticon.com/free-icons/football" title="football icons">Football icons created by Eucalyp - Flaticon</a>
                  </span>
                </figure>
            </div>

            <!-- Info giocatore -->
            <ng-container *ngIf="!isMobileBreakpointActive">
                <div class="align-self-center flex-direction-column">
    
                    <!-- Nome -->
                    <div>
                        <label class="text">
                            <span class="bold">Nome</span> : {{ playerSelected?.playerName }}
                        </label> 
                    </div>
                    
                    <!-- Squadra -->
                    <div class="margin-top">
                        <label class="text">
                            <span class="bold">Squadra</span> : {{ playerSelected?.team?.teamName }}
                        </label> 
                    </div>
    
                    <!-- Ruolo -->
                    <div class="margin-top">
                        <label class="text">
                            <span class="bold">Ruolo</span> : {{ playerSelected?.role?.description}}
                        </label> 
                    </div>
    
                    <!-- Eta -->
                    <div class="margin-top">
                        <label class="text">
                            <span class="bold">Età</span> : {{ playerSelected?.age}}
                        </label> 
                    </div>
                </div>
            </ng-container>
        </div>

        <!-- Info giocatore -->
        <ng-container *ngIf="isMobileBreakpointActive">
            <div class="container-standard flex-start">

                <!-- Nome -->
                <div class="column-gap">
                    <h3>
                        <span class="bold">Nome</span> : {{ playerSelected?.playerName }}
                    </h3> 
                </div>

                <!-- Squadra -->
                <div class="column-gap">
                    <h3>
                        <span class="bold">Squadra</span> : {{ playerSelected?.team?.teamName }}
                    </h3> 
                </div>

                <!-- Ruolo -->
                <div class="column-gap">
                    <h3>
                        <span class="bold">Ruolo</span> : {{ playerSelected?.role?.description}}
                    </h3> 
                </div>

                <!-- Età -->
                <div class="column-gap">
                    <h3>
                        <span class="bold">Età</span> : {{ playerSelected?.age}}
                    </h3> 
                </div>

            </div>
        </ng-container>

        <!-- Descrizione giocatore -->
        <div [ngClass]="isMobileBreakpointActive ? 'container-small' : 'container-standard'">

            <h2>Descrizione</h2>
            <div [ngClass]="isMobileBreakpointActive ? 'margin-top' : 'margin-large-top'">
                <span class="text"> {{ playerSelected?.description}} </span>
            </div>

        </div>
    </div>

    <!-- Margine destro -->
    <ng-container *ngIf="!isMobileBreakpointActive">
        <div class="cell-static-2of12 primary-color-light"></div>
    </ng-container>

</div>



