/* Sidenav and toolbar settings */

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
}

.mat-toolbar-single-row {
    padding: 0;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.container-link {
    display: grid;
    grid-template-columns: 12% 12% 12% 64%; 
    gap: 5px;
}

@media 
    (min-width: 1500px) {
        .toolbar-two-element {
            display: grid;
            grid-template-columns: 10% 85% 5%; 
            gap: 5px;
        }
        
        .toolbar-six-element {
            display: grid;
            grid-template-columns: 10% 2% 75% 8% 5%; 
            gap: 5px;
        }  
}

@media
    (min-width: 1200px) and
    (max-width: 1500px) {
        .toolbar-two-element {
            display: grid;
            grid-template-columns: 12% 82% 6%; 
            gap: 5px;
        }
        
        .toolbar-six-element {
            display: grid;
            grid-template-columns: 12% 2% 72% 8% 6%; 
            gap: 5px;
        } 

        .container-link {
            display: grid;
            grid-template-columns: 16% 16% 16% 52%; 
            gap: 5px;
        }
}

@media
    (min-width: 800px) and
    (max-width: 1200px) {

        .toolbar-two-element {
            display: grid;
            grid-template-columns: 16% 76% 8%; 
            gap: 5px;
        }
        
        .toolbar-six-element {
            display: grid;
            grid-template-columns: 16% 4% 64% 8% 8%; 
            gap: 5px;
        }

        .container-link {
            display: grid;
            grid-template-columns: 18% 18% 18% 46%; 
            gap: 5px;
        }
}

@media
    (min-width: 320px) and
    (max-width: 500px) {

        .sidenav {
            width: 60%;
        }
}

.toolbar-el-height {
    height: inherit;
}

/* Navbar element */

.mat-expansion-panel {
    border-top: 2px black;
}

.mat-expansion-panel-header {
    border-style: solid;
    border-bottom: 2px !important;
    border-width: 0.5px;
}

.mat-expansion-panel-header.mat-expanded {
    background: #FFCF82 !important;
}

/* Toolbar text */

.link {
    text-align: center;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    cursor: pointer;
}

/* Color  */

.link-toolbar-color {
    background-color: #82B1FF;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.color:hover{
    background-color: #82B1FF;
}

.mat-expansion-panel-header:hover {
    background-color: #ffffb3    !important;
}

/* Icon */

.icon {
    padding-right: 10px;
}