<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.toggle();">
    <mat-sidenav #sidenav class="sidenav" mode="over">
      <div class="secondary-color">
        <mat-toolbar>
          <button type="button" mat-icon-button (click)="sidenav.toggle();">
            <mat-icon class="icon">arrow_back</mat-icon>
            <span class="text">Sport categories</span>
          </button>
        </mat-toolbar>
      </div>
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let sportData of sportsList"
            (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="secondary-color">
                <mat-panel-title class="text">
                  <div>
                    {{sportData.sportName}}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let champ of championshipsList">
                <a mat-list-item class="champ-panel text" *ngIf="champ.sport == sportData.sportId" link="#">
                  <mat-icon>arrow_right</mat-icon>
                  {{champ.championshipName}}
                </a>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="primary-color">
        <button type="button" mat-icon-button (click)="sidenav.toggle();">
            <mat-icon class="icon">menu</mat-icon>
            <span class="text">Sport categories</span>
        </button>
        <div id="title">
          <h1 id="text-title">My Fanta</h1>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>
  