<p-toast [breakpoints]="{'768px' : {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-toolbar styleClass="toolbar elevation-6">

  <!-- Gruppo pulsanti iniziali -->
  <div class="p-toolbar-group-start">

    <!-- Pulsante visualizzazione sidebar -->
    <div *ngIf="isMobileOrTabletView()">
      <p-button icon="pi pi-bars" [style]="{'color' : 'black'}" 
        styleClass="btn-toolbar p-button-text"
        [ngStyle]="{'margin-right-3' : !isMobileView()}"
        (onClick)="toogleSidebar()" />
    </div>

    <!-- Link alla pagina di Home -->
    <div>
      <p-button (click)="routerService.goToHomePage()" styleClass="btn-toolbar border-none">
        <span class="weight-medium title-menu txt-2xl">FantasyTeam</span>
      </p-button>
    </div>
  </div>

  <!-- Gruppo pulsanti finali -->
  <div class="p-toolbar-group-end">

    <!-- Pulsante Login -->
    <div>

      <!-- Utente non autenticato -->
      <ng-container *ngIf="!userLogged">

        <p-button styleClass="btn-toolbar p-button-text" [ngStyle]="{'p-button-rounded' : isMobileView()}"
          (click)="openLoginDialog()">
          <i class="pi pi-user" style="color: black;"></i>
          <span *ngIf="!isMobileView()" class="margin-left-3 txt-lg">Login</span>
        </p-button>

      </ng-container>

      <!-- Utente autenticato -->
      <ng-container *ngIf="userLogged">
        <div class="user-btn-container flex align-items-center" (click)="userMenu.toggle($event)">
          <app-avatar [viewSmallAvatar]="true"></app-avatar>
          <div class="margin-left-3" *ngIf="!isMobileView()">
            <span class="txt-lg">{{ getUsername() }}</span>
          </div>
        </div>

        <!-- Menu -->
        <p-tieredMenu #userMenu [model]="items" [popup]="true" [autoZIndex]="false"></p-tieredMenu>
      </ng-container>
    </div>

  </div>
</p-toolbar>

<!-- Sidebar -->
<div>
  <p-sidebar [visible]="showSidebar" 
    [modal]="true"
    styleClass="width-12rem"
    (onHide)="toogleSidebar()">
  
    <app-menu></app-menu>
  
  </p-sidebar>
</div>