<div class="flex-center">
    <form class="form-xl-native-input large-margin-right">
        <input type='text'
            class="xl-native-input padding-left text"
            (keypress)="filterText($event)"
            placeholder="Cerca"
            [(ngModel)]="inputPlayerName"
            [matAutocomplete]="auto"
            (input)="searchPlayer(inputPlayerName)">
        <button mat-icon-button matSuffix aria-label="Clear"         
        *ngIf="!isValueInputTextEmpty()"
        (click)="inputPlayerName=''; searchPlayer('')">
        <mat-icon>clear</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <ng-container *ngFor="let player of players">
                <mat-option [value]="player.playerName">
                    {{player.playerName}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </form>

    <!-- Pulsante aggiunta giocatore alla lista: versione standard -->
    <ng-container *ngIf="!(breakpointsService.mobileObservable | async)">
        <div>
            <button mat-raised-button 
            class="standard-btn"
            [matTooltip]="getAddBtnDescription()"
            [disabled]="isValueInputTextEmpty()"
            (click)="addPlayer(inputPlayerName)">
                <span>Aggiungi</span>
            </button>
        </div>
    </ng-container>

    <!-- Pulsante aggiunta giocatore alla lista: versione mobile -->
    <ng-container *ngIf="breakpointsService.mobileObservable | async">
        <div>
            <button mat-raised-button
            class="mini-btn" 
            [matTooltip]="getAddBtnDescription()"
            [disabled]="isValueInputTextEmpty()"
            (click)="addPlayer(inputPlayerName)">
                <mat-icon class="no-margin">add</mat-icon>
            </button>
        </div>
    </ng-container>
</div>