/* Text */

.login-container .input-txt {
    min-width: 400px;
    width: 100%;
}

.login-container .registation-txt {
    text-decoration: underline;
    color: -webkit-link;
}

.login-container .registation-txt:hover {
    cursor: pointer;
}

.login-container .validation-error-label {
    font-size: 14px;
}

/* Login */

.login-container .login-btn {
    max-width: 200px;
    height: 50px;
    width: 100%;
}