
<!-- Pagina registrazione -->

<div class="flex-container mt-30px">

  <div class="image-container mr-10px">
    <figure class="flex-container fig-container tooltip">
      <img class="img-signup" src="assets/images/welcome.jpg" alt="Benvenuto nuovo utente">
      <span class="tooltiptext">
        Image by <a href="https://www.freepik.com/free-vector/flat-design-colorful-characters-welcoming_5403010.htm#query=welcome%20sport&position=48&from_view=search&track=ais" target="_blank">Freepik</a>
      </span>
    </figure>
  </div>

  <form class="registration-forms-container">

    <div class="flex-container">
      <!-- Input nome -->
      <div class="flex-container flex-direction-column flex-item-1-1-auto form-field-container mr-10px">
        <label class="label">Nome</label>
        <mat-form-field appearance="outline" class="form-field-max-width">            
          <input matInput type="text"
            placeholder="Campo obbligatorio*"
            [formControl]="nameFormControl"
            (focus)="tooltipName.show()"
            (input)="disableRegistration();">
          <button mat-icon-button matSuffix 
          [ngClass]="hasInputNameErrors() ? 'material-icons color_red' : 'material-icons color_green'"
          #tooltipName="matTooltip"
          [matTooltip]="getErrorNameMessage()">
            <mat-icon *ngIf="hasInputNameErrors()">error</mat-icon>
            <mat-icon *ngIf="!hasInputNameErrors()">check_circle</mat-icon>
          </button>
        </mat-form-field>
      </div>      
    
      <!-- Input cognome -->
      <div class="flex-container flex-direction-column flex-item-1-1-auto form-field-container">
        <label class="label">Cognome</label>
        <mat-form-field appearance="outline" class="form-field-max-width">
          <input matInput type="text"
            placeholder="Campo obbligatorio*"
            [formControl]="surnameFormControl"
            (focus)="tooltipSurname.show()"
            (input)="disableRegistration()">
          <button mat-icon-button matSuffix 
          [ngClass]="hasInputSurnameErrors() ? 'material-icons color_red' : 'material-icons color_green'"
          #tooltipSurname="matTooltip"
          [matTooltip]="getErrorSurnameMessage()">
            <mat-icon *ngIf="hasInputSurnameErrors()">error</mat-icon>
            <mat-icon *ngIf="!hasInputSurnameErrors()">check_circle</mat-icon>
          </button>
        </mat-form-field>
      </div>    
    </div>
  
    <!-- Input username -->
    <div class="flex-container flex-direction-column form-field-container mt-10px">
      <label class="label" [ngClass]="{'error-color' : showErrorMessage()}">Username</label>
      <mat-form-field appearance="outline" class="form-field-100">
        <input matInput type="text"
          placeholder="Campo obbligatorio*"
          [formControl]="usernameFormControl"
          (keydown.space)="$event.preventDefault()"
          (focus)="tooltipUsername.show()"
          (input)="disableRegistration()">
        <button mat-icon-button matSuffix 
        [ngClass]="hasInputUsernameErrors() || showErrorMessage() ? 'material-icons color_red' : 'material-icons color_green'"
        #tooltipUsername="matTooltip"
        [matTooltip]="getErrorUsernameMessage()">
          <mat-icon *ngIf="hasInputUsernameErrors() || showErrorMessage()">error</mat-icon>
          <mat-icon *ngIf="!hasInputUsernameErrors() && !showErrorMessage()">check_circle</mat-icon>
        </button>
      </mat-form-field>
    </div>
  
    <div class="flex-container mt-10px">
      <!-- Input password -->
      <div class="flex-container flex-direction-column flex-item-1-1-auto form-field-container">
        <label class="label">Password</label>
        <mat-form-field appearance="outline" class="form-field-100">
          <!-- Evitiamo l'inserimento di spazi vuoti-->
          <input matInput [type]="isPasswordVisible() ? 'text' : 'password'"
            placeholder="Campo obbligatorio*"
            [formControl]="passwordFormControl"
            (keydown.space)="$event.preventDefault()"
            (focus)="tooltipPassword.show()"
            (input)="disableRegistration()" >
          <button mat-icon-button matSuffix (click)="toggleShowPassword()">
            <mat-icon>{{ isPasswordVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <button mat-icon-button matSuffix 
          [ngClass]="hasInputPasswordErrors() ? 'material-icons color_red' : 'material-icons color_green'"
          #tooltipPassword="matTooltip"
          [matTooltip]="getErrorPasswordMessage()">
            <mat-icon *ngIf="hasInputPasswordErrors()">error</mat-icon>
            <mat-icon *ngIf="!hasInputPasswordErrors()">check_circle</mat-icon>
          </button>
        </mat-form-field>
      </div>  
    </div>

    <ng-container *ngIf="showErrorMessage()">
      <div class="txt-center mt-10px">
        <span class="validation-error-label error-color">
          Username già esistente!!
        </span>
      </div>  
    </ng-container>

    <div class="flex-container registration-btn-container mt-30px">
      <button mat-raised-button class="text secondary-color registration-btn"
      [disabled]="isRegistrationBtnDisabled()"
      (click)="registration()">
          Registrati
      </button>
    </div>

  </form>
</div>

