<!-- Pagina Opzioni di filtro -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
    [attr.role]="(breakpointsService.mobileOrTabletObservable| async) ? 'dialog' : 'dialog'"
    [mode]="(breakpointsService.mobileOrTabletObservable | async) ? 'over' : 'side'" 
    [opened]="(breakpointsService.mobileOrTabletObservable | async) === false">

    <mat-toolbar>Menu</mat-toolbar>

    <!-- Sezione Filtri -->
    <mat-nav-list>

      <!-- Lista degli id specifici a seconda dello sport selezionato -->
      <ng-container *ngIf="isAdvancedFilterRendered()">
        <div mat-subheader class="label bold">Filtri</div>

        <ng-container *ngFor="let id of getIds()">
          <a mat-list-item (click)="scrollToCard(id.id)">{{ id.description }}</a>
        </ng-container>
      </ng-container>      
    </mat-nav-list>

    <mat-divider></mat-divider>

    <!-- Sezione operazioni -->
    <div class="flex-direction-column">
      <button mat-raised-button class="secondary-color">
        Salva
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar-filter-option">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="breakpointsService.mobileOrTabletObservable | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Contenuto della pagina -->
    <div class="full-width flex-direction-column">

      <!-- FILTRI CALCIO -->
      <ng-container *ngIf="isFootballOptionsRendered()">
        <app-options-football></app-options-football>
      </ng-container>

      <!-- FILTRI PALLAVOLO -->
      <ng-container *ngIf="isVolleyballOptionsRendered()">
        <app-options-volleyball></app-options-volleyball>
      </ng-container>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>