<!-- Filtro smart -->
<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>Opzioni di ricerca</mat-panel-title>
        <mat-panel-description>
            Seleziona i parametri di ricerca dei giocatori
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <!-- Sezione filtri di ricerca -->
    <div class="filter-container">

        <!-- Prima riga -->
        <mat-grid-list cols="6" rowHeight="80px">
            <!-- Budget -->
            <mat-grid-tile colspan="1" rowspan="1">                
                <div class="flex-container flex-direction-column option-budget-container">
                    <label class="label mb-10px">Budget</label>
                    <input matInput type="number"                
                        class="label input-container"
                        min="0" step="1"
                        [disabled]="option.includeAdvancedFilter"
                        (blur)="checkBudgetValue()"
                        [(ngModel)]="option.budget">
                </div>
            </mat-grid-tile>
            <!-- Età -->
            <mat-grid-tile colspan="2" rowspan="1">
                <div class="flex-container flex-direction-column age-container">
                    <label class="label mb-10px">Età</label>
                    <div class="flex-container align-items-center">
                        <label class="label">Da</label>
                        <input matInput type="number"
                            class="label ml-10px mr-10px small-input input-container"
                            min="18" [max]="option.maxAge" step="1"
                            [disabled]="option.includeAdvancedFilter"
                            (blur)="checkMinAgeValue()"
                            [(ngModel)]="option.minAge">
                        <label class="label">A</label>
                        <input matInput type="number"
                            class="label ml-10px small-input input-container"
                            [min]="option.minAge" max="99" step="1"
                            [disabled]="option.includeAdvancedFilter"
                            (blur)="checkMaxAgeValue()"
                            [(ngModel)]="option.maxAge">
                    </div>
                </div>
            </mat-grid-tile>

            <!-- Scelta lista giocatori -->
            <mat-grid-tile colspan="2" rowspan="1">
                <div class="flex-container flex-direction-column">
                    <label class="label mb-10px">Giocatori</label>
                    <div class="flex-container">
                        <mat-checkbox class="mr-10px" color="primary" 
                            labelPosition="before" [(ngModel)]="option.includeFavorite"
                            [disabled]="option.includeAdvancedFilter"
                            (change)="checkFavoritePlayersAreIncluded($event.checked)">
                            <label class="label">Preferiti</label>
                        </mat-checkbox>
                        <mat-checkbox class="mr-10px" color="primary" 
                        labelPosition="before" [(ngModel)]="option.includeBlacklist"
                        [disabled]="option.includeAdvancedFilter"
                        (change)="checkBlacklistPlayersAreIncluded($event.checked)">
                            <label class="label">Esclusi</label>
                        </mat-checkbox>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>       

        <!-- Seconda Riga -->
        <mat-grid-list cols="6" rowHeight="80px">
            <mat-grid-tile colspan="6" rowspan="2">
                <!-- Scelta team -->
                <div class="flex-container flex-direction-column">
                    <div class="mb-10px">
                        <label class="label mb-10px">Squadre</label>        
                        <mat-icon class="ml-10px icon-size"
                            matTooltip="Se nessuna squadra è selezionata la ricerca verrà effettuata su tutte le squadre">
                            info
                        </mat-icon>
                    </div>
                    <mat-chip-listbox #chipsTeamList multiple="true">
                        <ng-container *ngFor="let team of getTeams()">
                            <mat-chip-option 
                            [disabled]="option.includeAdvancedFilter"
                            [matTooltip]="team.getName()"
                            (selectionChange)="changeSelectedList(team)">
                                {{ team.getAbbreviation() }}
                            </mat-chip-option>
                        </ng-container>
                    </mat-chip-listbox>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</mat-expansion-panel>

<!-- Opzioni di ricerca avanzate -->
<div class="flex-container option-advanced-filter-container mt-10px">    
    <mat-slide-toggle [(ngModel)]="option.includeAdvancedFilter"
    labelPosition="before"
    color="primary" 
    matTooltip="Applica i filtri definiti nella pagina 'Opzioni di ricerca'"
    (change)="checkAdvancedFilterAreIncluded($event.checked)">
        <label class="label">Opzioni di ricerca</label>
    </mat-slide-toggle>        
</div>
