 
/* COLUMN TABLE */

.mat-column-Name {
    width: auto !important;
}

.mat-column-Team {
    width: auto !important;
}

.mat-column-Remove {
    width: 10%;
    text-align: center;
}

@media screen and (500px >= width >= 401px) {
  
    .mat-column-Name {
        width: auto !important;
    }

}

@media screen and (400px >= width >= 320px) {
    
    .mat-column-Remove {
        width: 5%;
        padding-right: 12px !important;
    }
}

  
/* BUTTON */

.mat-column-Remove .mat-raised-button {  
    font-size: 16px;
    text-align: center;
}

@media screen and (800px >= width >= 601px) {
    
    .mat-column-Remove .mat-raised-button {
        width: 100px;
        padding: 0;
    }
}

@media screen and (600px >= width >= 401px) {
    
    .mat-column-Remove .mat-raised-button {
        line-height: normal;
        white-space: inherit;
        font-size: 14px !important;
        min-width: 55px;
        max-width: 55px;
        padding: 0;
    }
}

@media screen and (400px >= width >= 320px) {
    
    .mat-column-Remove .mat-raised-button {
        line-height: normal;
        white-space: inherit;
        font-size: 12px !important;
        min-width: 50px;
        max-width: 50px;
        padding: 0;
    }
}
  
td .icon-btn {
    border-style: none !important;
    text-align: center;
    line-height: 0;
    width: 30px;
    height: 30px;
}
  
@media screen and (400px >= width >= 320px) {
    
    .mat-column-Remove .icon-btn {
        width: 25px;
        height: 25px;
    }
}