<!-- Titolo e Sottotitolo-->
<div class="primary-color margin-bottom title-container">

    <div class="flex-center-wrap">
        <h1 class="title-font title-animation">FantasyTeam</h1>
    </div>

    <div class="flex-center-wrap"
        [ngClass]="isMobileOrMobileXLBreakpointActive ? ['small-container'] : ['padding-large-top']">
        <h2 class="bold title-animation txt-center">
            Crea la squadra che ti porterà alla vittoria
        </h2>
    </div>
</div>

<div class="full-width container-standard flex-center">

    <!-- Prima colonna -->
    <div class="cell-6of12">

        <div class="margin-4rem-left">
            <h2 class="bold">Il miglior simulatore per creare la tua squadra ideale</h2>
            <p class="text">
                FantasyTeam è un simulatore per creare la miglior squadra da utilizzare
                nei giochi di fantasport. <br>
                E' possibile personalizzare filtri di ricerca, scegliere i giocatori da volere
                in squadra ed escludere quelli che invece non si vogliono considerare.
            </p>

            <div class="full-width flex-center container-small">

                <!-- Pulsante avvio creazione squadra -->
                <div class="wiggle-animation">
                    <p-button label="Inizia subito" size="large"
                        styleClass="p-button-raised secondary-color label no-border" icon="pi pi-arrow-right"
                        iconPos="right" />
                </div>

                <div class="margin-small">
                    <p-button label="Tutorial" size="large"
                        styleClass="p-button-raised secondary-color label no-border" />
                </div>
            </div>
        </div>
    </div>

    <!-- Seconda colonna -->
    <div class="cell-6of12">
        <div class="margin-xl flex-center-wrap fade-in-right-animation">
            <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" 
                alt="Image" height="300" styleClass="full-width" [preview]="true" />
        </div>
    </div>

</div>

<!-- Tutorial -->
<div class="column-4rem-gap">

    <div class="flex-center-wrap container-small">
        <h1 class="bold">Tutorial</h1>
    </div>

    <div class="flex-center container-small">
        <!-- Passo 1: Selezione del campionato -->
        <div class="cell-5of12 container-small">
            <h3 class="bold">Passo 1: scelta del campionato</h3>
            <div class="container-small">
                <p class="text">
                    Il primo passo per iniziare a creare la tua squadra ideale consiste nel selezionare
                    lo sport ed il campionato per il quale vogliamo cercare i giocatori.
                </p>
            </div>
            <div class="container-small flex-center">

                <div #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width" />
                </div>

                <div class="column-gap" #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width" />
                </div>
            </div>
        </div>

        <!-- Passo 2: Selezione filtri di ricerca -->
        <div class="cell-5of12 container-small">
            <div class="container-small">
                <h3 class="bold">Passo 2: opzioni di ricerca</h3>
            </div>
            <div class="container-small">
                <p class="text">
                    Seleziona i filtri di ricerca che preferisci per costruire al meglio la tua squadra.
                    Puoi selezionare uno o più opzioni in modo da costruire la squadra che
                    più ti rappresenta.
                </p>
            </div>
            <div class="container-small flex-center">
                <div #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width p-image-preview" />
                </div>

                <div class="column-gap" #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width p-image-preview" />
                </div>
            </div>
        </div>
    </div>

    <div class="flex-center container-small">
        <!-- Passo 3: generazione squadra -->
        <div class="cell-5of12 container-small">
            <div class="container-small">
                <h3 class="bold">Passo 3: crea la squadra</h3>
            </div>
            <div class="container-small">
                <p class="text">
                    Premi il pulsante 'Cerca giocatori' e vedrai comparire la squadra che ti
                    porterà alla vittoria.
                </p>
            </div>
            <div class="container-small flex-center">
                <div #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width p-image-preview" />
                </div>

                <div class="column-gap" #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width p-image-preview" />
                </div>
            </div>
        </div>

        <!-- Passo 4: Personalizzazione -->
        <div class="cell-5of12 container-small">
            <div class="container-small">
                <h3 class="bold">Passo 4: personalizza la tua squadra</h3>
            </div>
            <div class="container-small">
                <p class="text">
                    Esplora e scopri tutte le funzionalità che FantasyTeam può offrire, dalla gestione
                    delle proprie squadre a opzioni di ricerca avanzate.
                </p>
            </div>
            <div class="container-small flex-center">
                <div #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width p-image-preview" />
                </div>

                <div class="column-gap" #tutorialImage>
                    <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"
                        height="200" [preview]="true" styleClass="full-width p-image-preview" />
                </div>
            </div>
        </div>

    </div>

</div>


<!-- Introduzione al sito -->
<div class="full-width container-standard">

    <!-- Visualizzazione sport -->
    <div class="margin-xl">

        <div
            [ngClass]="isMobileOrMobileXLBreakpointActive ? ['flex-direction-column','flex-center-wrap'] : ['flex-space-between','align-top']">
            <ng-container *ngFor="let sport of getSports()">

                <mat-expansion-panel class="expansion-panel"
                    [ngClass]="isMobileOrMobileXLBreakpointActive ? 'container-small' : 'margin'">
                    <mat-expansion-panel-header collapsedHeight="70px">
                        <mat-panel-title class="expansion-panel-header text">{{ sport.description }}</mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- Lazy rendering -->
                    <ng-template matExpansionPanelContent>
                        <!-- Country expansion panel per uno specifico sport -->
                        <ng-container *ngFor="let country of getCountries(sport); let indexChamp = index;">
                            <mat-expansion-panel [expanded]="false">
                                <mat-expansion-panel-header class="no-color">
                                    <mat-panel-title>
                                        <div class="label">
                                            {{ country.description }}
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!-- Lazy rendering -->
                                <ng-template matExpansionPanelContent>
                                    <!-- Elenco campionati per uno specifico sport e paese -->
                                    <ng-container *ngFor="let league of getLeagues(sport, country)">
                                        <mat-panel-description>
                                            <ul class="full-width">
                                                <li class="full-width">
                                                    <a mat-list-item class="link"
                                                        (click)="selectedLeagueListener(league);">
                                                        <span class="text link"> {{ league.name }} </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </mat-panel-description>
                                    </ng-container>
                                </ng-template>

                            </mat-expansion-panel>
                        </ng-container>
                    </ng-template>
                </mat-expansion-panel>
            </ng-container>

        </div>
    </div>

</div>