<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.toggle();">
    <mat-sidenav #sidenav class="sidenav" mode="over">
      <div class="secondary-color">
        <mat-toolbar>
          <button type="button" mat-icon-button (click)="sidenav.toggle();">
            <mat-icon class="icon">arrow_back</mat-icon>
            <span class="text">Sport categories</span>
          </button>
        </mat-toolbar>
      </div>
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let sport of sportsList" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="secondary-color">
              <mat-panel-title class="text">
                <div>
                  {{ sport.sportName }}
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let champ of championshipsList">
              <a mat-list-item class="text"
              *ngIf="filterChampionship(champ, sport)" 
              (click)="setChampionshipSelected(champ.championshipName); sidenav.toggle()" 
              routerLink="createTeam">
                <mat-icon>arrow_right</mat-icon>
                {{ champ.championshipName }}
              </a>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z8 primary-color-dark"
      [ngClass]="championship_selected == '' ? 'toolbar-two-element' : 'toolbar-six-element'">
        <button type="button" mat-icon-button (click)="sidenav.toggle();">
          <mat-icon class="icon">menu</mat-icon>
          <span class="text">Sport categories</span>
        </button>
        <mat-divider vertical id="vertical-divider"></mat-divider>
        <div *ngIf="championship_selected == ''"></div>
        <a class="link text primary-color" *ngIf="championship_selected != ''" routerLink="createTeam">Create team</a>
        <a class="link text primary-color" *ngIf="championship_selected != ''" link="#">Player list</a>
        <a class="link text primary-color" *ngIf="championship_selected != ''" link="#">Favorit list</a>
        <span *ngIf="championship_selected != ''"></span>
        <a class="link text primary-color"
        *ngIf="championship_selected != ''"
        (click)="setChampionshipSelected('')"
        routerLink="">
          My Fanta
        </a>
        <button type="button" class="primary-color" mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </mat-toolbar>
        <!--<app-home *ngIf="championshipSelected == ''" (childToParent)="setChampionshipSelected($event)"></app-home>-->
        <router-outlet></router-outlet>
      <!-- Add Content Here --> 
    </mat-sidenav-content>
</mat-sidenav-container>
  
