<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.toggle();">
    <mat-sidenav #sidenav class="sidenav" mode="over">
      <div class="secondary-color">
        <mat-toolbar>
          <button type="button" mat-icon-button (click)="sidenav.toggle();">
            <mat-icon class="icon">arrow_back</mat-icon>
            <span class="text">Sport categories</span>
          </button>
        </mat-toolbar>
      </div>
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="secondary-color">
              <mat-panel-title class="text">
                <div>
                  Football
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <a mat-list-item class="text" (click)="setChampionshipSelected('Serie A')" routerLink="createTeam">
                <mat-icon>arrow_right</mat-icon>
                Serie A
              </a>
              <mat-divider></mat-divider>
            </div>
            <div>
              <a mat-list-item class="text" (click)="setChampionshipSelected('Premier League')" routerLink="createTeam">
                <mat-icon>arrow_right</mat-icon>
                Premier League
              </a>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="secondary-color">
              <mat-panel-title class="text">
                <div>
                  Volleyball
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <a mat-list-item class="text" (click)="setChampionshipSelected('Serie A Female')" routerLink="createTeam">
                <mat-icon>arrow_right</mat-icon>
                Serie A Female
              </a>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="secondary-color">
              <mat-panel-title class="text">
                <div>
                  Basketball
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <a mat-list-item class="text" (click)="setChampionshipSelected('Serie A Female')" routerLink="createTeam">
                <mat-icon>arrow_right</mat-icon>
                NBA
              </a>
              <mat-divider></mat-divider>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z8 primary-color-dark"
      [ngClass]="championshipSelected == '' ? 'toolbar-two-element' : 'toolbar-five-element'">
        <button type="button" mat-icon-button (click)="sidenav.toggle();">
          <mat-icon class="icon">menu</mat-icon>
          <span class="text">Sport categories</span>
        </button>
        <mat-divider vertical id="vertical-divider"></mat-divider>
        <div *ngIf="championshipSelected == ''"></div>
        <a class="link text primary-color" *ngIf="championshipSelected != ''" routerLink="createTeam">Create team</a>
        <a class="link text primary-color" *ngIf="championshipSelected != ''" link="#">Player list</a>
        <a class="link text primary-color" *ngIf="championshipSelected != ''" link="#">Favorit list</a>
        <span *ngIf="championshipSelected != ''"></span>
        <button type="button" class="primary-color" mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
      </mat-toolbar>
        <app-home *ngIf="championshipSelected == ''" (childToParent)="setChampionshipSelected($event)"></app-home>
        <router-outlet></router-outlet>
      <!-- Add Content Here --> 
    </mat-sidenav-content>
</mat-sidenav-container>
  
