/* HEADER */

.subtitle-position {
    padding: 35px;
}

h1 {
    font-size: 24px;
}

/* APP-TABS */

app-tabs {
    max-width: 750px;
    width: 95%
}

/* CONTAINER INPUT-ERROR-BTN */

.container-input-error-btn {
    height: 100%;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
}

/* INPUT AND ERROR CONTAINER*/

.input {
    margin-bottom: 100px;
    max-width: 450px;
    width: 100%;
}

/* DISPLAY ERROR */

.error-container {
    display: flex;
    border-width: 0.5px;
    border-radius: 7px;
    border-style: solid;
    background-color: #ffcdd2;
    max-width: 450px;
    width: 100%;
    color: #b71c1c;
}

.error-txt {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.icon-close-error {
    margin-left: 20px;
}

/* GENERATE BUTTON */

.generate-btn-position {
    display: grid;
}

.generate-btn-text {
    font-size: 20px;
    font-weight: 400;
}

.generate-btn-width {
    max-width: 450px;
    width: 100%;
    height: 80px;
}

.space-between-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* COLOR */

.secondary-color:hover {
    background-color: #ffffb3;
}

/* COMMON CLASS */

.no-margin {
    margin: 0;
}

/* RESPONSIVE */

@media screen and (1200px >= width >= 601px) {
 
    /* HEADER */

    .subtitle-position {
        padding: 24px;
    }

    h1 {
        font-size: 20px;
    }
}

@media screen and (1000px >= width >= 801px) {

    /* GENERATE BUTTONS */

    .generate-btn-width {
        height: 60px;
    }
}

@media screen and (800px >= width >= 320px) {

    /* CONTAINER INPUT-ERROR-BTN */

    .container-input-error-btn {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
    }

    /* GENERATE BUTTONS */

    .generate-btn-position-mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .generate-btn-text {
        font-weight: 500;
    }

    .space-between-btn {
        width: 30px;
    }

    /* APP-TABS */

    app-tabs {
        width: calc(100% - 50px);
    }
}

@media screen and (800px >= width >= 601px) {

    /* GENERATE BUTTONS */

    .generate-btn-text {
        font-size: 18px;
    }
}

@media screen and (800px >= width >= 501px) {

    /* GENERATE BUTTONS */

    .generate-btn-width {
        min-width: 200px;
    }
}

@media screen and (600px >= width >= 320px) {

    /* HEADER */

    header {
        display: none;
    }

    /* GENERATE BUTTONS */

    .generate-btn-text {
        font-size: 16px;
    }
}