<header class="header-position primary-color">
    <h1 class="text text-position">CREATE TEAM</h1>
</header>
<mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="cols_tabs" [rowspan]="rows_tabs">
        <app-tabs></app-tabs>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="cols_buttons" [rowspan]="rows_buttons">
        <div class="input-position">
            <mat-form-field class="example-form-field" class="form-field" appearance="fill">
                <input matInput type="text" [(ngModel)]="value_input_text" placeholder="Player name...">
                <button *ngIf="value_input_text" matSuffix mat-icon-button aria-label="Clear" (click)="value_input_text=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button class="secondary-color">
                <mat-icon>add</mat-icon>
                Primary
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
