<div class="container">
    <ng-container *ngFor="let option of SINGLE_OPTIONS" >
        <mat-card class="option"
        [ngClass]="!isSingleOptionCorrect(option) ? '' :
        option.new_value != option.last_value ? 'secondary-color-light' : ''">
            <mat-card-title>{{ option.name }}</mat-card-title>
            <br>
            <mat-card-actions>
                <div class="slider-container">
                    <div class="slider">
                        <div class="value-container mb-20">
                            <label class="txt-label">Numero crediti: </label>
                            <input
                            [(ngModel)]="option.new_value"
                            [ngClass]="!isSingleOptionCorrect(option) ? 'error-color' : ''"
                            />
                        </div>
                        <div>
                            <label class="txt-label">Min : {{ option.min_value }}</label>
                            <mat-slider
                                class="slider-width"
                                [ngClass]="option.new_value != option.last_value ? '' : 'disable-color'"
                                [max]="option.max_value"
                                [min]="option.min_value"
                                [thumbLabel]="true"                            
                                [(ngModel)]="option.new_value"
                            >
                            </mat-slider>
                            <label class="txt-label">Max : {{ option.max_value }}</label>
                        </div>
                        <div class="m-10 txt-error">
                            <li *ngIf="option.new_value < option.min_value">
                                Il valore deve essere maggiore di {{ option.min_value }}
                            </li>
                            <li *ngIf="option.new_value > option.max_value">
                                Il valore deve essere minore di {{ option.max_value }}
                            </li>
                        </div>
                    </div>
                </div>
            </mat-card-actions>
            <div class="flex-space">
                <button mat-raised-button class="flex-start btn-txt txt-label"
                (click)="option.new_value = option.last_value">
                    Ripristina
                </button>
                <button mat-raised-button class="flex-end btn-txt txt-label" 
                (click)="option.new_value = option.default_value">
                    Default
                </button>
            </div>
        </mat-card>
    </ng-container>
    <ng-container *ngFor="let option of MULTIPLE_OPTIONS">
        <mat-card 
        class="option"
        [ngClass]="!isMultipleOptionMinValueCorrect(option) || !isMultipleOptionMaxValueCorrect(option) ? '' :
            option.new_value_min != option.last_value_min || option.new_value_max != option.last_value_max ? 'secondary-color-light' : ''">
            <mat-card-title>{{ option.name }}</mat-card-title>
            <br>
            <mat-card-actions>
                <div class="slider-container">
                    <div class="double-slider">
                        <div>
                            <label class="txt-label">Max : </label>
                            <label class="txt-label">{{ option.new_value_max }}</label>
                        </div>
                        <div>
                            <mat-slider
                                class="double-slider-width"
                                [ngClass]="option.new_value_min != option.last_value_min ? '' : 'disable-color'"
                                [max]="option.new_value_max"
                                [min]="option.min_value"
                                [thumbLabel]="true"
                                [vertical]="true"
                                [(ngModel)]="option.new_value_min"
                            >
                            </mat-slider>
                        </div>
                        <div class="value-container mt-10">
                            <label class="txt-label">Min : </label>
                            <input
                            [(ngModel)]="option.new_value_min"
                            [ngClass]="isMultipleOptionMinValueCorrect(option) ? '' : 'error-color'"
                            />
                        </div>
                    </div>
                    <div class="double-slider">
                        <div class="value-container mb-10">
                            <label class="txt-label">Max : </label>
                            <input
                            [(ngModel)]="option.new_value_max"
                            [ngClass]="isMultipleOptionMaxValueCorrect(option) ? '' : 'error-color'"
                            />
                        </div>
                        <div>
                            <mat-slider
                                class="double-slider-width"
                                [ngClass]="option.new_value_max != option.last_value_max ? '' : 'disable-color'"
                                [max]="option.max_value"
                                [min]="option.new_value_min"
                                [thumbLabel]="true"
                                [vertical]="true"
                                [(ngModel)]="option.new_value_max"
                            >
                            </mat-slider>
                        </div>
                        <div>
                            <label class="txt-label">Min : </label>
                            <label class="txt-label">{{ option.new_value_min }}</label>
                        </div>
                    </div>
                </div>
                <div class="mt-5 txt-error">
                    <div *ngIf="!isMultipleOptionMinValueCorrect(option)">
                        <li *ngIf="option.new_value_min < option.min_value">
                            Il valore minimo deve essere maggiore di {{ option.min_value }}
                        </li>
                        <li *ngIf="option.new_value_min > option.max_value">
                            Il valore minimo deve essere minore di {{ option.max_value }}
                        </li>
                        <li
                        *ngIf="option.new_value_min > option.new_value_max && option.new_value_min < option.max_value &&
                        option.new_value_max > option.min_value">
                            Il valore minimo deve essere minore di {{ option.new_value_max }}
                        </li>
                    </div>
                    <div *ngIf="!isMultipleOptionMaxValueCorrect(option)">
                        <li *ngIf="option.new_value_max < option.min_value">
                            Il valore massimo deve essere maggiore di {{ option.min_value }}
                        </li>
                        <li *ngIf="option.new_value_max > option.max_value">
                            Il valore massimo deve essere minore di {{ option.max_value }}
                        </li>
                        <li 
                        *ngIf="option.new_value_max < option.new_value_min && option.new_value_max > option.min_value &&
                        option.new_value_min < option.max_value">
                            Il valore massimo deve essere maggiore di {{ option.new_value_min }}
                        </li>
                    </div>
                </div>
            </mat-card-actions>
            <div class="flex-space">
                <button mat-raised-button class="flex-start btn-txt txt-label"
                (click)="option.new_value_min = option.last_value_min; option.new_value_max = option.last_value_max">
                    Ripristina
                </button>
                <button mat-raised-button class="flex-end btn-txt txt-label" 
                (click)="option.new_value_min = option.default_value_min; option.new_value_max = option.default_value_max">
                    Default
                </button>
            </div>
        </mat-card>
    </ng-container>
</div>