/* CONTAINER OPTIONS */

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

@media screen and (1000px >= width >= 801px) {

    .container {
        width: 70%;
    }
}

@media screen and (800px >= width >= 501px) {

    .container {
        width: 80%;
    }
}

@media screen and (500px >= width >= 320px) {
    
    .container {
        width: 100%;
    }
}

/* GENERAL OPTION */

.option {
    margin-top: 30px;
}

/* MAT CARD */

.mat-card-title {
    text-align: center;
}

/* CONTAINER LABEL VALUE */

.value-container {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 40%;
}

/* SLIDER */

.slider-container {
    display: flex;
    justify-content: center;
}

.slider {
    text-align: center;
    width: 100%;
    margin-left: 5%;
}

@media screen and (800px >= width >= 320px) {
    
    .slider {
        margin-left: 2%;
    }
}

.double-slider {
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
/*
.disable-color ::ng-deep .mat-slider-thumb {
    background-color: black !important;
}

.disable-color ::ng-deep .mat-slider-thumb-label {
    background-color: black !important;
}
*/
.slider-width {
    width: 50%;
}

@media screen and (800px >= width >= 320px) {
    
    .slider-width {
        width: 50%;
    }
}

.label-slider {
    display: inline-flex;
}

@media screen and (800px >= width >= 601px) {
    
}

/* TEXT */

.txt-label {
    font-size: 16px;
}

@media screen and (800px >= width >= 401px) {
    
    .txt-label {
        font-size: 14px;
    }
    
}

@media screen and (400px >= width >= 320px) {
    
    .txt-label {
        font-size: 12px;
    }
}

.text-option {
    text-align: center;
    font-weight: 500;
}

.btn-txt:hover {
    font-weight: bold;
}

.txt-error {
    color: red;
    text-align: center;
    font-size: 16px;
}

@media screen and (1000px >= width >= 451px) {
    
    .txt-error {
        font-size: 14px;
    }
}

@media screen and (450px >= width >= 320px) {
    
    .txt-error {
        text-align: left;
        font-size: 12px;
    }
}

/* COLOR */

.secondary-color-light {
    background-color: #ffffb3;
}

.error-color {
    background-color: #ff867f;
}

/* MARGIN */

.mt-5 {
    margin: 5%;
}

.m-10 {
    margin: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px
}

/* DISPLAY */

.flex-space {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

