<!-- Toolbar -->
<app-toolbar></app-toolbar>

<!-- Snack Bar message -->
<div [ngClass]="isMobileOrTabletBreakpointActive && isLeagueSelected ? 'snackbar-position-double-top' : 'snackbar-position'">
    <app-custom-snackbar></app-custom-snackbar>
</div>

<!-- Spinner visualizzato in attesa che i dati della pagina siano caricati -->
<mat-progress-spinner class="spinner" *ngIf="getLoadingDataObservable() | async" mode="indeterminate" diameter="150">
</mat-progress-spinner>

<!-- Contenuto della pagina -->
<div [ngClass]="{'opacity-page' : getLoadingDataObservable() | async}">
    <router-outlet></router-outlet>
</div>