
<!-- Link pagine -->
<p class="txt-lg weight-medium margin-top-7">Pagine</p>
<p-listbox [options]="getLinks()" optionLabel="description" styleClass="border-none" (onClick)="goToPage($event)">
    <ng-template let-link pTemplate="item">
        <div class="flex align-items-center column-gap-2">
            <i class="pi pi-caret-right"></i>
            <div>{{ link.description }}</div>
        </div>
    </ng-template>
</p-listbox>

<p-divider />

<!-- Pulsante salvataggio squadra nella corrente selezione  -->
<div class="margin-right-7 width-full" *ngIf="isSaveBtnRendered()">
    <p-button styleClass="width-full p-button-raised secondary-color border-none" pTooltip="Salva"
        tooltipPosition="bottom">
        <i class="pi pi-save" style="color: black"></i>
        <label class="margin-left-3 txt-lg cursor-pointer">Salva</label>
    </p-button>
</div>

<!-- Pulsante di salvataggio e creazione nuova squadra -->
<div class="margin-right-7 margin-top-7 width-full" *ngIf="isSaveBtnRendered()">
    <p-button styleClass="width-full p-button-raised secondary-color border-none" pTooltip="Salva"
        tooltipPosition="bottom">
        <i class="pi pi-save" style="color: black"></i>
        <label class="margin-left-3 txt-lg cursor-pointer">Crea squadra</label>
    </p-button>
</div>