
/* Text */

.title {
    text-align: center;
    font-weight: 500 !important;
}

.registation-txt {
    text-decoration: underline;
    color: -webkit-link;
}

.registation-txt:hover {
    cursor: pointer;
}

/* Pulsanti */

.close-btn:hover {
    background-color: #E0E0E0;
}