
<div class="flex-container">

    <!-- Margine sinistro -->
    <div class="margin-page-container primary-color-light"></div>

    <!-- Contenuto pagina -->
    <div class="flex-container flex-direction-column page-container">

        <!-- Filtri base per generazione giocatori -->
        <div class="option-filter-container">
            <app-option-filter (optionToSend)="changeOption($event)"></app-option-filter>
        </div>

        <!-- Sezione ricerca e creazione squadra -->
        <div class="flex-container mt-30px mb-30px">
            <!-- Ricerca aggiunta giocatore -->
            <div class="flex-item-1-1-auto">
                <app-search-add-player></app-search-add-player>
            </div>

            <!-- Bottone generazione squadra -->
            <div class="btn-container flex-item-1-1-auto">
                <button mat-raised-button class="text secondary-color create-team-btn"
                (click)="createTeam()">
                    Ricerca giocatori
                </button>
            </div>
        </div>

        
        <div class="mt-30px table-container">

            <!-- Tabella giocatori -->
            <app-table></app-table>
        </div>
    </div>

    <!-- Margine destro -->
    <div class="margin-page-container primary-color-light"></div>
</div>


<!--
<div>
    <div class="container-btns">
        <div class="generate-btn-position">
            <button mat-raised-button 
            class="generate-btn-text generate-btn-width secondary-color mat-elevation-z3"
            (click)="generateTeam()">
                Genera team
            </button>
            <div class="space-between-btn"></div>
            <button mat-raised-button 
            class="generate-btn-text generate-btn-width secondary-color mat-elevation-z3"
            (click)="generateTeamWithFavoritList()">
                Genera team 
                <p>con i giocatori preferiti</p>
            </button>
        </div>        
    </div>
    <div class="margin-container-app-search">
        <app-search-add-player></app-search-add-player>
    </div>
    <div class="container-app-tabs margin-container-app-tabs">
        <app-tabs></app-tabs>
    </div>
</div>
-->