<mat-form-field class="form-field" appearance="fill" *ngIf="input_visible">
    <mat-label>Player name</mat-label>
    <input type="text" 
        (keypress)="filterText($event)"
        placeholder="Player name..."
        matInput
        [(ngModel)]="value_input_text"
        [matAutocomplete]="auto"
        (input)="searchPlayer(value_input_text)">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let player of players" [value]="player.playerName">
            {{player.playerName}}
        </mat-option>
    </mat-autocomplete>
    <button *ngIf="value_input_text" matSuffix mat-icon-button aria-label="Clear" 
    (click)="value_input_text=''; searchPlayer('')">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<button mat-raised-button 
class="text secondary-color mat-elevation-z3 add-btn"
[disabled]="isValueInputTextEmpty()"
*ngIf="input_visible"
(click)="addPlayer(value_input_text)">
    <mat-icon>add</mat-icon>
    <span>{{ getTabSelected() }}</span>
</button>
