
/* Toolbar style */

.toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    height: var(--toolbar-height); /* E' una variabile globale, definita in style.css */
}

.toolbar.mat-toolbar-single-row {
    padding: 0;
}

.toolbar-el-height {
    height: calc(var(--toolbar-height) * 0.6);
}

/* Buttons */

.btn-menu-sports {
    height: var(--toolbar-height);
}

.btn-flat {
    background-color: inherit;
}

/* COLOR  */

.link-toolbar-border {
    background-color: #82B1FF;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}

.color:hover{
    background-color: #82B1FF;
}

/* Text */

.text:hover {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

/* Menu user panel */

.user-menu {
    width: 150px !important;
}

.username-menu-panel {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor:auto;
}

.username-menu-panel:hover {
    background-color: inherit;
}