
/* variabili personalizzate */
:host {
    --toolbar-height: 70px;
}

/* Toolbar style */

.toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    height: var(--toolbar-height);
}

.toolbar.mat-toolbar-single-row {
    padding: 0;
}

.toolbar-el-height {
    height: calc(var(--toolbar-height) * 0.6);
}

/* Buttons */

.btn-menu-sports {
    height: var(--toolbar-height);
}

.btn-flat {
    background-color: inherit;
}

/* Input */

.login-form {
    width: 90%;
}

.input-txt {
    width: 300px;
}

/* COLOR  */

.link-toolbar-border {
    background-color: #82B1FF;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}

.color:hover{
    background-color: #82B1FF;
}

/* Text */

.text:hover {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

/* Classe per distanziare i bottoni */
.spacer-left-right {
    flex: 1 1 auto;
}
  