
/* Toolbar style */

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.mat-toolbar-single-row {
    padding: 0;
}

.toolbar-simple {
    display: grid;
    grid-template-columns: 10% 85% 5%; 
    gap: 5px;
}

.toolbar-complete {
    display: grid;
    grid-template-columns: 10% 2% 75% 8% 5%; 
    gap: 5px;
}

.container-link {
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 52%; 
    gap: 5px;
}

@media screen and(1200px <= width <= 801px) {

        .toolbar-simple {
            display: grid;
            grid-template-columns: 16% 76% 8%; 
            gap: 5px;
        }
        
        .toolbar-complete {
            display: grid;
            grid-template-columns: 16% 4% 64% 8% 8%; 
            gap: 5px;
        }

        .container-link {
            display: grid;
            grid-template-columns: 18% 18% 18% 18% 28%; 
            gap: 5px;
        }
}

.toolbar-el-height {
    height: inherit;
}

/* Link */

.link {
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}

/* COLOR  */

.link-toolbar-color {
    background-color: #82B1FF;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.color:hover{
    background-color: #82B1FF;
}

/* Text */

.text:hover {
    font-weight: 600;
}