
<!-- Dialog per la creazione di un nuovo team -->

<mat-dialog-content class="dialog-container">

    <form class="mt-30px mb-30px">
        <!-- Titolo dialog -->
        <h1 class="text txt-center">Nuovo Team</h1>

        <!-- Input nome team -->
        <div class="flex-container flex-direction-column mt-10px">
            <label class="label">Nome</label>
            <mat-form-field appearance="fill">
                <input matInput type="text" class="text"
                    [formControl]="teamNameFormControl">
            </mat-form-field>
        </div>

        <!-- Scelta sport -->
        <div class="flex-container flex-direction-column mt-10px">
            <label class="label">Sport</label>
            <mat-form-field appearance="outline">
                <mat-select [value]="getSportSelected()"
                *ngIf="areSelectedRendered()"
                disableOptionCentering 
                placeholder="-- Seleziona sport --">
                    <mat-option (click)="updateSelectedSport('')"></mat-option>
                    <mat-option *ngFor="let sport of getSports()" 
                    [value]="sport" 
                    (click)="updateSelectedSport(sport)">
                        {{ sport.description }}
                    </mat-option>
                </mat-select>
                <input matInput
                    *ngIf="!areSelectedRendered()"
                    [value]="getSportSelected()"
                    disabled>
            </mat-form-field>
        </div>

        <!-- Scelta campionato -->
        <div class="flex-container flex-direction-column mt-10px">
            <label class="label">Campionato</label>
            <mat-form-field appearance="outline">
                <mat-select [value]="getChampionshipSelected()"
                *ngIf="areSelectedRendered()"
                [disabled]="isSelectChampionshipDisabled()"
                disableOptionCentering 
                placeholder="-- Seleziona campionato --">
                    <mat-option (click)="updateSelectedChampionship('')"></mat-option>
                    <mat-option *ngFor="let champ of getChampionships()" 
                    [value]="champ" 
                    (click)="updateSelectedChampionship(champ)">
                        {{ champ.description }}
                    </mat-option>
                </mat-select>

                <!-- Caso in cui il campionato sia già definito -->
                <input matInput
                    *ngIf="!areSelectedRendered()"
                    [value]="getChampionshipSelected()"
                    disabled>
            </mat-form-field>
        </div>

        <!-- Scelta lega -->
        <div class="flex-container flex-direction-column mt-10px">
            <label class="label">Lega</label>
            <mat-form-field appearance="outline">
                <mat-select [value]="getLeagueSelected()"
                *ngIf="areSelectedRendered()"
                [disabled]="isSelectLeagueDisabled()"
                disableOptionCentering 
                placeholder="-- Seleziona lega --">
                    <mat-option (click)="updateSelectedLeague(null)"></mat-option>
                    <mat-option *ngFor="let league of getLeagues()" 
                    [value]="league"
                    (click)="updateSelectedLeague(league)">
                        {{ league.getName() }}
                    </mat-option>
                </mat-select>

                <!-- Caso in cui la lega sia già definita -->
                <input matInput
                    *ngIf="!areSelectedRendered()"
                    [value]="getLeagueSelected()"
                    disabled>
            </mat-form-field>
        </div>

        <!-- Sezione pulsanti -->
        <div class="flex-container mt-30px">

            <span class="flex-item-1-1-auto"></span>

            <!-- Pulsante di creazione -->
            <div [matTooltip]="getAddTooltipMessage()" matTooltipDisabled="false" matTooltipShowDelay="500" matTooltipHideDelay="200">
                <button mat-flat-button 
                [ngClass]="isCreateBtnEnabled() ? 'secondary-color' : 'secondary-color-no-hover'"
                class="mr-10px create-btn"
                [disabled]="!isCreateBtnEnabled()"
                (click)="addNewTeam()">
                    Aggiungi
                </button>
            </div>
            <!-- Pulsante per annullare -->
            <button mat-flat-button class="secondary-color ml-10px"
            (click)="closeDialog()"
            matTooltip="Chiudi" matTooltipShowDelay="500" matTooltipHideDelay="200">
                Annulla
            </button>

            <span class="flex-item-1-1-auto"></span>
        </div>
    </form>

</mat-dialog-content>