
.create-team-dialog-content {
    min-width: 300px;
    margin: 0 20px;
}

.form-field-container {
    width: 100%;
}

/*
.custom-panel {
    min-width: 50% !important;
    background-color: white;
}
*/