
<!-- Dialog per la creazione di un nuovo team -->
<mat-dialog-content class="full-width">

    <!-- Pulsante chiusura dialog -->
    <div class="flex-end full-width">
        <button mat-icon-button class="no-color" (click)="closeDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    <!-- Titolo -->
    <div class="full-width txt-center">
        <input type="text" class="new-team-name-input-txt txt-center" value="Nome Squadra" >
    </div>

    <!-- Selezione sport -->
    <div class="flex-direction-column flex-center-wrap large-margin-top"> 
        <h3 class="bold margin-bottom">Sport</h3>       
        
        <!-- Select abilitato -->
        <ng-container *ngIf="areSelectedRendered()">
            <mat-form-field class="form-standard-container">
                <mat-select [value]="getSportSelected()"                
                    disableOptionCentering 
                    placeholder="-- Seleziona sport --">
                        <mat-option (click)="updateSelectedSport('')"></mat-option>
                        <mat-option *ngFor="let sport of getSports()" [value]="sport" 
                            class="text"
                            (click)="updateSelectedSport(sport)">
                            {{ sport.description }}
                        </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

    </div>

    <!-- Selezione campionato -->    
    <div class="flex-direction-column flex-center-wrap">
        <h3 class="bold margin-bottom" [ngClass]="{'label-disabled' : isSelectChampionshipDisabled()}">Campionato</h3>

        <!-- Select abilitato -->
        <ng-container *ngIf="areSelectedRendered()">                
            <mat-form-field class="form-standard-container">
                <mat-select [value]="getChampionshipSelected()"                
                disableOptionCentering 
                [disabled]="isSelectChampionshipDisabled()"
                placeholder="-- Seleziona campionato --">
                    <mat-option (click)="updateSelectedChampionship('')"></mat-option>
                    <mat-option *ngFor="let champ of getChampionships()" 
                    [value]="champ" 
                    (click)="updateSelectedChampionship(champ)">
                        {{ champ.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
        
    </div>

    <!-- Seleziona lega -->
    <div class="flex-direction-column flex-center-wrap">
        <h3 class="bold margin-bottom" [ngClass]="{'label-disabled' : isSelectLeagueDisabled()}">Lega</h3>

         <!-- Select abilitato -->
         <ng-container *ngIf="areSelectedRendered()"> 
            <mat-form-field class="form-standard-container">
                <mat-select [value]="getLeagueSelected()"
                [disabled]="isSelectLeagueDisabled()"
                disableOptionCentering 
                placeholder="-- Seleziona lega --">
                    <mat-option (click)="updateSelectedLeague(null)"></mat-option>
                    <mat-option *ngFor="let league of getLeagues()" [value]="league"
                    (click)="updateSelectedLeague(league)">
                        {{ league.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
         </ng-container>
    </div>
    
    <!-- Sezione pulsanti -->
    <div class="flex-center-wrap standard-container">        

        <!-- Pulsante per annullare -->
        <button mat-raised-button class="standard-btn label"
        (click)="closeDialog()"
        matTooltip="Chiudi" matTooltipShowDelay="500" matTooltipHideDelay="200">
            Annulla
        </button>

        <!-- Pulsante di creazione -->
        <div [matTooltip]="getAddTooltipMessage()" matTooltipDisabled="false" matTooltipShowDelay="500" matTooltipHideDelay="200">
            <button mat-raised-button 
                class="standard-btn label margin-left"
                [ngClass]="{'gray-color-dark' : !isCreateBtnEnabled()}"
                [disabled]="!isCreateBtnEnabled()"
                (click)="addNewTeam()">
                    Aggiungi
            </button>
        </div>
    </div>

</mat-dialog-content>