<div class="player-list-container mt-40px">
    <ng-container *ngIf="!isLayoutMobile()">
        <form class="container-filter-options">
            <div class="flex option-filter mb-10px">
                <input type="text" placeholder="Cerca" class="border-option text">
                <i class="fa fa-search flex border-option icon"></i>
            </div>
            
            <mat-card class="b-r-15px mb-10px p-r-0">
                <div class="flex container-filter-match-role mb-10px">

                    <div class="filter-match-role mr-5">
                        <span class="txt-subtitle">Filtro presenze</span>
                        <div></div>
                        <ng-container *ngFor="let match of match_filter">
                            <button
                            class="flat-btn border-option b-r-10px txt-btn"
                            [ngClass]="isMatchFilterSelected(match) ? 'flat-btn-selected' : ''"
                            (click)="setMatchSelected(match);">
                                {{ match }}
                            </button>
                        </ng-container>
                    </div>
                    
                    <div class="filter-match-role ml-0">
                        <span class="txt-subtitle">Visualizza ruoli</span>
                        <div></div>
                        <ng-container *ngFor="let view of roles_view">
                            <button
                            class="flat-btn border-option b-r-10px txt-btn"
                            [ngClass]="isRoleViewSelected(view) ? 'flat-btn-selected' : ''"
                            (click)="setRoleView(view)">
                                {{ view }}
                            </button>
                        </ng-container>
                    </div> 
                </div>
            </mat-card>
            <div class="flex mb-10px">
                <div class="container-select mr-5">
                    <select class=" text b-r-15px option-filter option-select">
                        <option value="Tutte">Tutte</option>
                        <ng-container *ngFor="let team of getTeam()">
                            <option value="team.name">{{ team.name }}</option>
                        </ng-container>                        
                    </select>
                </div>
                <div class="container-select mlr-0-auto">
                    <select class=" text b-r-15px option-filter option-select">
                        <option value="Tutti">Tutti</option>
                        <ng-container *ngFor="let role of getRoles()">
                            <option value="role.name">{{ role.name }}</option>
                        </ng-container>                        
                    </select>
                </div>
            </div>
        </form>
    </ng-container>
    <div class="filter-container mt-40px">   
        <div class="filter">
            <mat-form-field class="text filter-field" appearance="outline">
                <mat-label>Cerca giocatore</mat-label>
                <input matInput 
                type="text" 
                [(ngModel)]="input_txt"
                (keypress)="filterText($event)"
                (input)="searchPlayer(input_txt)">
            </mat-form-field>            
        </div>
    </div>
    <div class="mat-elevation-z0 container-table mb-40px">

    </div>
</div>


<!--
<div class="player-list-container">
    <div class="mt-40px">
        <ng-container [ngSwitch]="isLayoutMobile()">
            <ng-container *ngSwitchCase="false">
                <span class="txt-bold txt-panel-title">Ruoli</span>
                <button mat-raised-button
                class="btn btn-role txt-role-team mt-10px"
                [ngClass]="isAllRolesDisabled() ? 'btn-selected mat-elevation-z1' : 'btn-not-selected mat-elevation-z4'"
                (click)="disableAllRoles()">
                    TUTTI
                </button>
                <div class="block"></div>
                <div class="flex mb-40px mt-10px">
                    <ng-container *ngFor="let role of getRoles()">
                        <button mat-raised-button
                        class="btn btn-role txt-role-team" 
                        [ngClass]="isRoleSelected(role.name) ? 'btn-selected mat-elevation-z1' : 'btn-not-selected mat-elevation-z4'"
                        (click)="selectedRole(role.name)">
                            {{ role.name }}
                        </button>
                    </ng-container>
                </div>
                <span class="txt-bold txt-panel-title">Squadre</span>
                <button mat-raised-button
                class="btn btn-role txt-role-team mt-10px"
                [ngClass]="isAllTeamsDisabled() ? 'btn-selected mat-elevation-z1' : 'btn-not-selected mat-elevation-z4'"
                (click)="disableAllTeams()">
                    TUTTE
                </button>
                <div class="block"></div>
                <div class="team-container">                    
                    <mat-chip-list>
                        <ng-container *ngFor="let team of getTeam()">
                            <mat-chip
                            class="mat-elevation-z1 txt-role-team chip"
                            [ngClass]="isTeamSelected(team.name) ? 'btn-selected mat-elevation-z1' : 'btn-not-selected mat-elevation-z4'"
                            (focus) = "false"
                            (click)="selectedTeam(team.name)">
                                {{ team.name }}
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="true">
                <mat-accordion multi>
                    <mat-expansion-panel class="mat-elevation-z1"
                    (opened)="panelRoleOpenState = true" (closed)="panelRoleOpenState = false">
                        <mat-expansion-panel-header 
                        class="color-panel"
                        [ngClass]="panelRoleOpenState ? '' : isAllRolesDisabled() ? '' : 'secondary-color'">
                            <mat-panel-title class="txt-bold txt-panel-title">
                                Ruoli
                            </mat-panel-title>
                            <mat-panel-description class="txt-panel">
                                Filtro ricerca giocatori per ruolo
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="mt-10px">
                            <button mat-flat-button
                            class="btn btn-role txt-role-team mt-10px"
                            [ngClass]="isAllRolesDisabled() ? 'btn-selected' : 'btn-not-selected'"
                            (click)="disableAllRoles()">
                                TUTTI
                            </button>
                            <div class="block"></div>
                            <ng-container *ngFor="let role of getRoles()">
                                <div class="inline-flex mt-10px">
                                    <button mat-flat-button
                                    class="btn btn-role txt-role-team" 
                                    [ngClass]="isRoleSelected(role.name) ? 'btn-selected mat-elevation-z0' : 'btn-not-selected'"
                                    (click)="selectedRole(role.name)">
                                        {{ role.name }}
                                    </button>
                                </div>
                            </ng-container>
                        </div>    
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z1"
                    (opened)="panelTeamOpenState = true" (closed)="panelTeamOpenState = false">
                        <mat-expansion-panel-header
                        class="color-panel"
                        [ngClass]="panelTeamOpenState ? '' : isAllTeamsDisabled() ? '' : 'secondary-color'">
                            <mat-panel-title class="txt-bold txt-panel-title">
                                Squadre
                            </mat-panel-title>
                            <mat-panel-description class="txt-panel">
                                Filtro ricerca giocatori per squadra
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="mt-10px">
                            <button mat-flat-button
                            class="btn btn-role txt-role-team mt-10px"
                            [ngClass]="isAllTeamsDisabled() ? 'btn-selected' : 'btn-not-selected'"
                            (click)="disableAllTeams()">
                                TUTTE
                            </button>
                            <div class="block"></div>
                            <ng-container *ngFor="let team of getTeam(); let i = index">
                                <div *ngIf="i%7 == 0"></div>
                                <div class="inline-flex mt-10px">
                                    <button mat-flat-button
                                    class="btn txt-role-team" 
                                    [ngClass]="isTeamSelected(team.name) ? 'btn-selected' : 'btn-not-selected'"
                                    (click)="selectedTeam(team.name)">
                                        {{ team.short_name }}
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
        </ng-container>
    </div>
    <div class="filter-container mt-40px">
        <ng-container *ngIf="getActiveLink() == 'Blacklist' || getActiveLink() == 'Favorit list'">
            <div class="container-search-add-player">
                <app-search-add-player></app-search-add-player>                
            </div>
        </ng-container>        
        <div class="filter">
            <mat-form-field class="text filter-field" appearance="standard">
                <mat-label>Cerca giocatore</mat-label>
                <input matInput 
                type="text" 
                [(ngModel)]="input_txt"
                (keypress)="filterText($event)"
                (input)="searchPlayer(input_txt)">
            </mat-form-field>            
        </div>
    </div>
    <div class="mat-elevation-z0 container-table mb-40px">
        <app-table *ngIf="getActiveLink() == 'Player list'"></app-table>
        <app-table-fav-black-player *ngIf="getActiveLink() == 'Favorit list' || getActiveLink() == 'Blacklist'"></app-table-fav-black-player>
    </div>
</div>
-->