<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="second-sidenav" fixedInViewport
        [attr.role]="(breakpointsService.mobileOrTabletObservable| async) ? 'dialog' : 'dialog'"
        [mode]="(breakpointsService.mobileOrTabletObservable| async) ? 'over' : 'side'"
        [opened]="!(breakpointsService.mobileOrTabletObservable| async)">

        <!-- TODO: quando si preme su un link e siamo su quella pagina i filtri ed i giocatori visualizzati non devono essere resettati-->

        <!-- Link alle pagine -->
        <div class="link-menu-container">
            <mat-nav-list>

                <!-- Link alla pagina 'myTeam' -->
                <a mat-list-item [activated]="routerService.currentPageIsMyTeam()" class="container-small"
                    [ngClass]="{'primary-color-light' : routerService.currentPageIsMyTeam()}"
                    (click)="routerService.goToMyTeamPage()">
                    <span class="label" [ngClass]="{'bold' : routerService.currentPageIsMyTeam()}">
                        {{ linkEnum.MYTEAM.description }}
                    </span>
                </a>

                <!-- Link alla pagina 'favoriteList' -->
                <a mat-list-item [activated]="routerService.currentPageIsFavoritList()" class="container-small"
                    [ngClass]="{'primary-color-light' : routerService.currentPageIsFavoritList()}"
                    (click)="routerService.goToFavoritListPage()">
                    <span class="label" [ngClass]="{'bold' : routerService.currentPageIsFavoritList()}">
                        {{ linkEnum.FAVORIT_LIST.description }}
                    </span>
                </a>

                <!-- Link alla pagina 'blacklist' -->
                <a mat-list-item [activated]="routerService.currentPageIsBlacklist()" class="container-small"
                    [ngClass]="{'primary-color-light' : routerService.currentPageIsBlacklist()}"
                    (click)="routerService.goToBlacklistPage()">
                    <span class="label" [ngClass]="{'bold' : routerService.currentPageIsBlacklist()}">
                        {{ linkEnum.BLACKLIST.description }}
                    </span>
                </a>

                <!-- Link alla pagina 'playerList' -->
                <a mat-list-item [activated]="routerService.currentPageIsPlayerList()" class="container-small"
                    [ngClass]="{'primary-color-light' : routerService.currentPageIsPlayerList()}"
                    (click)="routerService.goToPlayerListPage()">
                    <span class="label" [ngClass]="{'bold' : routerService.currentPageIsPlayerList()}">
                        {{ linkEnum.PLAYER_LIST.description }}
                    </span>
                </a>

            </mat-nav-list>

            <mat-divider class="full-width"></mat-divider>

            <!-- Pulsante di salvataggio -->
            <div class="container-small flex-center-wrap" *ngIf="isSaveBtnRendered()">
                <button mat-raised-button class="btn-small width-80" (click)="saveTeam()">
                    <mat-icon>save</mat-icon>
                    Salva
                </button>
            </div>

            <!-- Pulsante di salvataggio e creazione nuova squadra -->
            <div class="container-small flex-center-wrap" *ngIf="isSaveNewTeamBtnRendered()">
                <button mat-raised-button class="btn-small width-80" (click)="openCreateNewTeamDialog()">
                    <mat-icon>save</mat-icon>
                    Salva nuova squadra
                </button>
            </div>

        </div>

    </mat-sidenav>

    <mat-sidenav-content>

        <!-- Toolbar menu visibile solo in versione mobile o Tablet -->
        <mat-toolbar class="toolbar-filter-option primary-color-light mat-elevation-z1 second-toolbar"
            *ngIf="breakpointsService.mobileOrTabletObservable| async">
            <button mat-flat-button aria-label="Toggle sidenav" class="label no-color no-padding"
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                Liste giocatori
            </button>
        </mat-toolbar>

        <!-- Contenuto della pagina -->
        <div class="margin-large custom-page-container">

            <div class="margin-bottom">

                <!-- Opzioni di filtro visualizzati nella pagina 'myTeams' -->
                <ng-container *ngIf="isOptionFilterRendered()">
                    <app-option-filter (optionToSend)="updateOption($event)"></app-option-filter>
                </ng-container>

                <!-- Opzioni di ricerca dei giocatori -->
                <ng-container *ngIf="isTableFilterRendered()">
                    <app-option-player-search></app-option-player-search>
                </ng-container>
            </div>

            <!-- Tabella giocatori -->
            <div class="margin-xl-top margin-xl-bottom" id="tableContainer">
                <app-table [playersList]="getPlayersList()"></app-table>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>