
<div class="flex-container">

    <!-- TODO: Utilizzare una toolbar come fatto per la pagina delle Opzioni -->
    <!-- Sidemenu sinistro -->
    <div class="margin-left margin-right margin-top link-list-container">

        <ng-container>
            <app-link-list [linkList]="getLinksList()"></app-link-list>
        </ng-container>

        <mat-divider></mat-divider>

        <div class="link-list-container margin-top" *ngIf="isActionListRendered()">
            <div mat-subheader class="bold">Azioni</div>
            <mat-nav-list>        
                <!-- Salvataggio -->
                <mat-list-item *ngIf="isSaveBtnRendered()">
                    <mat-icon matListItemIcon>save</mat-icon>
                    <div matListItemTitle>Salva</div>
                </mat-list-item>

                <!-- Salvataggio in un nuovo team -->
                <mat-list-item *ngIf="isSaveNewTeamBtnRendered()">
                    <mat-icon matListItemIcon>save</mat-icon>
                    <div matListItemTitle (click)="openCreateNewTeamDialog()">Salva nuova squadra</div>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>

    <!-- Contenuto della pagina -->
    <div class="player-list-container">       

        <div class="margin-bottom">

            <!-- Opzioni di ricerca da utilizzare nella generazione del team -->
            <ng-container *ngIf="isCurrentPageMyTeam()">
                <app-option-filter (optionToSend)="changeOption($event)"></app-option-filter>                
            </ng-container>

            <!-- Filtri di ricerca dei giocatori nella tabella -->
            <mat-expansion-panel expanded="true" *ngIf="isFilterTableRendered()">
                <mat-expansion-panel-header>
                    <mat-panel-title>Filtri ricerca dei giocatori</mat-panel-title>
                </mat-expansion-panel-header>

                <!-- Sezione filtri di ricerca -->
                <div class="filter-container">
                    
                    <!-- Prima riga -->
                    <mat-grid-list cols="2" rowHeight="100px">
                        <!-- Ruolo -->
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="flex-direction-column grid-container">
                                <label class="bold margin-bottom">Ruolo</label>
                                <div class="flex-container">
                                    <ng-container *ngFor="let role of getPlayerRoles()">
                                        <button mat-flat-button class="ml-5px mr-5px btn mat-elevation-z3" 
                                        *ngIf="!isRoleSelected(role)"
                                        (click)="updateRolesSelectedList(role)">
                                            {{ role.shortDescription }}
                                        </button>

                                        <button mat-flat-button class="ml-5px mr-5px btn-selected primary-color"
                                        *ngIf="isRoleSelected(role)"
                                        (click)="updateRolesSelectedList(role)">
                                            {{ role.shortDescription }}
                                        </button>
                                    </ng-container>

                                </div>
                            </div>
                        </mat-grid-tile>

                        <!-- Filtro presenze -->
                        <mat-grid-tile colspan="1" rowspan="1">
                            <div class="flex-direction-column grid-container">
                                <label class="bold margin-bottom">Presenze</label>
                                <div class="flex-container">
                                    <ng-container *ngFor="let filter of getMatchFilters()">
                                        <button mat-flat-button class="ml-5px mr-5px btn mat-elevation-z3" 
                                        *ngIf="!isMatchFilterSelected(filter)"
                                        (click)="updateMatchFilterSelected(filter)">
                                            {{ filter.label }}
                                        </button>

                                        <button mat-flat-button class="ml-5px mr-5px btn-selected primary-color"
                                        *ngIf="isMatchFilterSelected(filter)"
                                        (click)="updateMatchFilterSelected(filter)">
                                        {{ filter.label }}
                                        </button>
                                    </ng-container>
                                </div>                           
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <!-- Seconda riga -->
                    <mat-grid-list cols="1" rowHeight="100px">
                        <!-- Filtro squadra -->
                        <mat-grid-list cols="1" rowHeight="80px">
                            <div class="mt-30px flex-direction-column">
                                <div class="margin-bottom">
                                    <label class="label margin-bottom">Squadre</label>        
                                    <mat-icon class="margin-left icon-size"
                                        matTooltip="Se nessuna squadra è selezionata la ricerca verrà effettuata su tutte le squadre">
                                        info
                                    </mat-icon>
                                </div>
                                <mat-chip-listbox #chipsTeamList multiple="true">
                                    <ng-container *ngFor="let team of getTeams()">
                                        <mat-chip-option 
                                        [matTooltip]="team.teamName"
                                        (selectionChange)="changeSelectedTeamsList(team)">
                                            {{ team.teamAbbreviation }}
                                        </mat-chip-option>
                                    </ng-container>
                                </mat-chip-listbox>
                            </div>
                        </mat-grid-list>
                    </mat-grid-list>
                </div>

            </mat-expansion-panel>
        </div>

        <!-- Aggiunta giocatori -->
        <div class="flex-container mt-30px">
            <!-- Ricerca aggiunta giocatore -->
            <div class="flex-item-1-1-auto" *ngIf="isCurrentPageCreateTeam()">
                <app-search-add-player></app-search-add-player>
            </div>

            <!-- Bottone generazione squadra -->
            <div class="btn-container flex-item-1-1-auto" *ngIf="isCurrentPageMyTeam()">
                <button mat-raised-button class="text secondary-color create-team-btn"
                (click)="createTeam()">
                    Ricerca giocatori
                </button>
            </div>
        </div>

        <!-- Tabella giocatori -->
        <div class="table-container" id="tableContainer">
            <app-table></app-table>
        </div>

    </div>
</div>
