<!-- Titolo e Sottotitolo-->
<div class="primary-color margin-bottom title-container">

    <div class="flex-center-wrap">
        <h1 class="title-font title-animation">FantasyTeam</h1>
    </div>

    <div class="flex-center-wrap"
        [ngClass]="(breakpointsService.mobileOrMobileXLObservable | async) ? 'margin' : 'margin-large'">
        <h2 class="bold title-animation txt-center">
            Crea la squadra che ti porterà alla vittoria
        </h2>
    </div>
</div>


<!-- Introduzione al sito -->
<div class="flex-container standard-container">

    <div class="cell-1of12"></div>

    <div class="cell-10of12">
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
        </p>
    </div>

    <div class="cell-1of12"></div>

</div>

<!-- Visualizzazione sport -->
<div class="flex-container standard-container">

    <div class="cell-1of12"></div>

    <div class="cell-10of12">

        <div
            [ngClass]="(breakpointsService.mobileOrMobileXLObservable| async) ? ['flex-direction-column','flex-center-wrap'] : ['flex-space-between','align-top']">
            <ng-container *ngFor="let sport of getSports()">

                <mat-expansion-panel class="expansion-panel"
                    [ngClass]="(breakpointsService.mobileOrMobileXLObservable| async) ? 'small-container' : 'margin'">
                    <mat-expansion-panel-header collapsedHeight="70px">
                        <mat-panel-title class="expansion-panel-header text">{{ sport.description }}</mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- Lazy rendering -->
                    <ng-template matExpansionPanelContent>
                        <!-- Championship expansion panel per uno specifico sport -->
                        <ng-container *ngFor="let championship of getChampionships(sport); let indexChamp = index;">
                            <mat-expansion-panel [expanded]="false">
                                <mat-expansion-panel-header class="no-color">
                                    <mat-panel-title>
                                        <div class="label">
                                            {{ championship.description }}
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!-- Lazy rendering -->
                                <ng-template matExpansionPanelContent>
                                    <!-- Elenco leghe per uno specifico sport e campionato -->
                                    <ng-container *ngFor="let league of getLeagues(sport, championship)">
                                        <mat-panel-description>
                                            <ul class="full-width">
                                                <li class="full-width">
                                                    <a mat-list-item class="link"
                                                        (click)="selectedLeagueListener(league);">
                                                        <span class="text link"> {{ league.name }} </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </mat-panel-description>
                                    </ng-container>
                                </ng-template>

                            </mat-expansion-panel>
                        </ng-container>
                    </ng-template>
                </mat-expansion-panel>
            </ng-container>

        </div>



    </div>

    <div class="cell-1of12"></div>

</div>