
<!-- Container intera pagina -->
<div class="flex-container">

    <!-- Margine sinistro -->
    <div class="margin-page-container primary-color-light"></div>

    <!-- Container contenuto della pagina -->
    <div class="player-card-container">

        <!-- Titolo pagina -->
        <div class="padding-container title-card-container">
            <h1 class="title-card-text">Scheda giocatore</h1>
        </div>

        <!-- Immagine giocatore + info -->
        <div class="flex-container">
            <!-- Immagine giocatore -->
            <div class="img-player-container">
                <figure class="flex-container tooltip">
                  <img class="img-player-profile" src="assets/images/football-player.png" alt="Immagine giocatore">
                  <span class="tooltiptext">
                    <a href="https://www.flaticon.com/free-icons/football" title="football icons">Football icons created by Eucalyp - Flaticon</a>
                  </span>
                </figure>
            </div>

            <!-- Info giocatore -->
            <div class="info-player-container">
                <!-- Nome -->
                <div class="ml-30px">
                    <label class="text">
                        <span class="bold">Nome</span> : {{ playerSelected?.playerName }}
                    </label> 
                </div>
                
                <!-- Squadra -->
                <div class="ml-30px mt-30px">
                    <label class="text">
                        <span class="bold">Squadra</span> : {{ playerSelected?.team?.teamName }}
                    </label> 
                </div>

                <!-- Ruolo -->
                <div class="ml-30px mt-30px">
                    <label class="text">
                        <span class="bold">Ruolo</span> : {{ playerSelected?.role?.description}}
                    </label> 
                </div>

                <!-- Eta -->
                <div class="ml-30px mt-30px">
                    <label class="text">
                        <span class="bold">Età</span> : {{ playerSelected?.age}}
                    </label> 
                </div>
            </div>
        </div>

        <!-- Descrizione giocatore -->
        <div class="padding-container">            
            <h1>Descrizione</h1>

            <div class="mt-30px">
                <span class="text"> {{ playerSelected?.description}} </span>
            </div>
        </div>
    </div>

    <!-- Margine destro -->
    <div class="margin-page-container primary-color-light"></div>

</div>



