
 <!-- Messaggi -->
 <div class="width-full margin-bottom-7">
  <p-messages [(value)]="messages" [showTransitionOptions]="'300ms'" [hideTransitionOptions]="'300ms'" />
</div>

<!-- Form per la registrazione -->
<ng-container *ngIf="!createdNewUser">

  <div [formGroup]="signupFormGroup" class="width-full">

    <!-- Nome - Cognome -->
    <div class="width-full column-gap-3" [ngClass]="{'flex-container' : !isMobileView()}">

      <!-- Input nome -->
      <div class="flex flex-column width-full" [ngClass]="{'max-width-25rem' : !isMobileView()}">
        <label class="top-label">Nome</label>
        <span class="p-input-icon-right display-grid">
          <i class="pi pi-check" style="color: green;" *ngIf="!hasInputNameErrors()"></i>
          <i class="pi pi-times-circle" style="color: red;" *ngIf="hasInputNameErrors()"></i>
          <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputNameErrors()}"
            [pKeyFilter]="blockSpaceTabAndNewLineRe"
            formControlName="name" tooltipEvent="focus" tooltipPosition="bottom"
            [pTooltip]="getErrorInputNameMessage()" />
        </span>
      </div>

      <!-- Input cognome -->
      <div class="flex flex-column width-full" 
        [ngClass]="isMobileView() ? 'margin-top-7' : 'max-width-25rem'">
        <label class="top-label">Cognome</label>
        <span class="p-input-icon-right display-grid">
          <i class="pi pi-check" style="color: green;" *ngIf="!hasInputLastNameErrors()"></i>
          <i class="pi pi-times-circle" style="color: red;" *ngIf="hasInputLastNameErrors()"></i>
          <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputLastNameErrors()}"
            [pKeyFilter]="blockSpaceTabAndNewLineRe"
            formControlName="lastName" tooltipEvent="focus" tooltipPosition="bottom"
            [pTooltip]="getErrorInputLastNameMessage()" />
        </span>
      </div>
    </div>

    <!-- Input username -->
    <div class="flex flex-column width-full margin-top-7">
      <label class="top-label">Username</label>
      <span class="p-input-icon-right display-grid">
        <i class="pi pi-check" style="color: green;" *ngIf="!hasInputUsernameErrors()"></i>
        <i class="pi pi-times-circle" style="color: red;" *ngIf="hasInputUsernameErrors()"></i>
        <input pInputText type="text" [ngClass]="{'ng-invalid' : hasInputUsernameErrors()}"
          [pKeyFilter]="blockSpaceTabAndNewLineRe"
          (keydown.space)="$event.preventDefault()" formControlName="username"
          tooltipEvent="focus" tooltipPosition="bottom" [pTooltip]="getErrorInputUsernameMessage()" />
      </span>
    </div>

    <!-- Input password -->
    <div class="flex flex-column width-full margin-top-7">
      <label class="top-label">Password</label>
      <div class="flex align-items-center">
        <p-password class="width-full" [ngClass]="{'ng-invalid' : hasInputPasswordErrors()}"
          [toggleMask]="true" [feedback]="false"
          [pKeyFilter]="blockSpaceTabAndNewLineRe"
          formControlName="password" tooltipEvent="focus" tooltipPosition="bottom"
          [pTooltip]="getErrorInputPasswordMessage()" />
        <div class="margin-left-3">
          <i class="pi pi-check" style="color: green;" *ngIf="!hasInputPasswordErrors()"></i>
          <i class="pi pi-times-circle" style="color: red;" *ngIf="hasInputPasswordErrors()"></i>
        </div>
      </div>
    </div>

    <div class="width-full flex align-items-center justify-content-center column-gap-3 margin-top-14">
        <!-- Pulsante per tornare alla dialog di login -->
        <div>
          <p-button styleClass="p-button-raised p-button-sm secondary-color"
            pTooltip="Torna alla pagina di Login" tooltipPosition="left"
            (onClick)="openLoginDialog()">
            <i class="pi pi-arrow-left" style="color: black;"></i>
            <label class="txt-lg margin-left-3 cursor-pointer">Login</label>
          </p-button>
        </div>

        <!-- Pulsante creazione nuovo utente -->
        <div>
          <p-button styleClass="p-button-raised p-button-sm secondary-color"
            [disabled]="!canCompleteSignUp()" 
            (click)="signUp()"
            [pTooltip]="getSignUpTooltip()" tooltipPosition="right">
            <label class="txt-lg cursor-pointer">Registrati</label>
          </p-button>
        </div>
    </div>

  </div>
</ng-container>

<!-- Registrazione completata -->
<div *ngIf="createdNewUser">

  <!-- Immagine -->
  <div class="flex justify-content-center width-full margin-top-3">
    <figure class="no-margin tooltip" [ngClass]="getSignUpImageStyleWidth()">
      <p-image src="assets/images/welcome.jpg" alt="Benvenuto" imageClass="width-full height-full" />
      <span class="tooltiptext">
        Image by <a
          href="https://www.freepik.com/free-vector/flat-design-colorful-characters-welcoming_5403010.htm#page=2&query=welcome&position=37&from_view=search&track=sph&uuid=2b806aba-eaba-4b00-ada7-92f0d91697ed">
          Freepik
        </a>
      </span>
    </figure>
  </div>

  <!-- Testo -->
  <div class="margin-top-7">
    <h2 class="bold txt-align-center">Benvenuto {{ getUsername() }}!</h2>
    <p class="txt-lg line-height-3">
      Grazie per esserti registrato al nostro sito.<br>
      Ora puoi effettuare il login e iniziare ad utilizzare tutte le nostre funzionalità. Buon divertimento!!
    </p>
  </div>

  <!-- Pulsante -->
  <div class="flex justify-content-center margin-top-7">
    <p-button styleClass="p-button-raised p-button-sm secondary-color" 
      (click)="openLoginDialog()">
      <label class="txt-lg">Accedi</label>
    </p-button>
  </div>

</div>