@use "src/styles/global/styles";
@use "src/styles/global/animations";
@use "src/styles/angular-component/expansion-panel";
@import "src/styles/global/variables";
@import "src/styles/global/breakpoints";

$title-font: (
    "xs": 1.875rem,
    "sm": 2.5rem,
    "md": 2.875rem,
    "lg": 3.25rem,
    "xl": 3.75rem
);

@each $name, $size in $breakpoints {
    @include respond-from($name) {
        .title-font {
            font-size: map-get($title-font, $name);
            font-family: fantasy;
            font-style: italic;
        }
    }
}

.title-animation {
    animation-name: show-title;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes show-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
}