/* Titolo */

.title-container {
    max-height: 200px;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px
    /* Distanza tra le colonne */
}

.title-container h2 {
    margin-top: 30px !important;
}

.title-font {
    font-size: 60px;
    font-weight: bold;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.title-animation {
    animation-name: show-title;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes show-title {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.subtitle-font {
    font-size: 30px;
    font-weight: 500;
}


/* Contenuto pagin */

.page-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.txt-title-paragraph {
    font-size: 25px !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.expansion-panel-container {
    width: 100%;
}

.expansion-panel {
    min-width: 250px;
    width: 100%;
    margin: 10px;
}

.expansion-panel-header {
    justify-content: center;
}