<div class="primary-color" id="block-title">
    <h1 class="title-position title-font title-animation">My Fanta</h1>
    <h2 class="subtitle-position subtitle-font">
        Scegli lo sport. Scegli il campionato. Crea la miglior squadra per portarti alla vittora.
    </h2>
</div>
<p class="text text-position">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
    anim id est laborum
</p>

<h2 class = "subtitle-position subtitle-font">Click the sport and choose your championship</h2>

<div class="padding-home grid-expansion-panel">  
    <div *ngFor="let sport of sportsList">
        <button mat-raised-button
        class="primary-color mat-elevation-z6 btn-color text btn-width text-interactive"
        [ngClass]="!isActiveBtn(sport.sportName) ? 'btn-sport-close' : 'btn-sport-open'"
        (click)="toggleSportBtn($event.target)">
            <span class="txt-btn">{{sport.sportName}}</span>
            <mat-icon class="icon-btn arrow-down-animation"
            [ngClass]="isActiveBtn(sport.sportName) ? 'icon-open-btn' : 'icon-close-btn'"
            (click)="toggleSportBtnFromIcon($event.target)">keyboard_arrow_down</mat-icon>
        </button>
        <div class="mat-elevation-z6 btn-width">
            <div *ngFor="let champ of championshipsList">
                <div class="color" 
                [@champListAnimation]="isActiveBtn(sport.sportName) ? 'openList' : 'closeList'">
                    <a mat-list-item class="txt-btn text-interactive link"
                    [@champElement]="isActiveBtn(sport.sportName) ? 'show' : 'hide'"
                    *ngIf="filterChampionship(champ, sport) && isActiveBtn(sport.sportName)"
                    (click)="setActivePage('Create team')"
                    routerLink="createTeam">
                        <mat-icon class="icon-champ">arrow_right</mat-icon>
                        {{ champ.championshipName }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>