<div class="primary-color flex-container flex-direction-column title-container">
    <h1 class="title-font title-animation">FantasyTeam</h1>
    <h2 class="subtitle-font">
        Scegli lo sport e crea la squadra dei sogni che ti condurrà alla vittoria
    </h2>
</div>

<div class="padding-home grid-expansion-panel">  
    <div *ngFor="let sport of sportsList">
        <button mat-raised-button
        class="primary-color mat-elevation-z6 btn-color text btn-width text-interactive"
        [ngClass]="!isActiveBtn(sport.sportName) ? 'btn-sport-close' : 'btn-sport-open'"
        (click)="toggleSportBtn($event.target)">
            <span class="txt-btn">{{sport.sportName}}</span>
            <mat-icon class="icon-btn arrow-down-animation"
            [ngClass]="isActiveBtn(sport.sportName) ? 'icon-open-btn' : 'icon-close-btn'"
            (click)="toggleSportBtnFromIcon($event.target)">keyboard_arrow_down</mat-icon>
        </button>
        <div class="mat-elevation-z6 btn-width">
            <div *ngFor="let champ of championshipsList">
                <div class="color" 
                [@champListAnimation]="isActiveBtn(sport.sportName) ? 'openList' : 'closeList'">
                    <a mat-list-item class="txt-btn text-interactive link"
                    [@champElement]="isActiveBtn(sport.sportName) ? 'show' : 'hide'"
                    *ngIf="filterChampionship(champ, sport) && isActiveBtn(sport.sportName)"
                    (click)="setActivePage('Create team')"
                    routerLink="createTeam">
                        <mat-icon class="icon-champ">arrow_right</mat-icon>
                        {{ champ.championshipName }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>