<!-- Snack Bar message -->
<div [ngClass]="isMobileOrTabletBreakpointActive && isLeagueSelected ? 'snackbar-position-double-top' : 'snackbar-position'">
    <app-custom-snackbar></app-custom-snackbar>
</div>

<!-- Spinner visualizzato in attesa che i dati della pagina siano caricati -->
<mat-progress-spinner class="spinner" *ngIf="getLoadingDataObservable() | async" mode="indeterminate" diameter="150">
</mat-progress-spinner>

<div>        
    <!-- Toolbar -->
    <app-toolbar></app-toolbar>
    <div [ngClass]="{'flex' : !isMobileOrTabletBreakpointActive}">
        <ng-container *ngIf="!isMobileOrTabletBreakpointActive">
            <div class="layout-sidebar">
                <!-- Sidebar -->
                <app-menu></app-menu>
            </div>
            <div class="layout-content">
                <p-divider styleClass="margin-right-i-0" layout="vertical"></p-divider>
            </div>
        </ng-container>
        <!-- Contenuto della pagina -->
        <div class="width-full">
            <div class="margin-x-7">
                <router-outlet></router-outlet>
            </div>
            <!-- Footer -->
            <div class="primary-color width-full height-10rem margin-top-14"></div>
        </div>        
    </div>    
</div>