/* MatTabGroup */

mat-tab-group {
    min-width: 300px;
}

/* MatTabLabel */
/*
::ng-deep.mat-tab-label {
    opacity: 1 !important;
    font-size: 18px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    
    border-style: solid;
    border-width: 1px;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

::ng-deep.mat-tab-label:hover {
    background-color: #b6e3ff;
}

::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color: #b6e3ff;
    font-weight: bold;
    border-width: 2px;
}

::ng-deep.mat-tab-label:not(.mat-tab-label-active) {
    opacity: 0.8 !important;
}

::ng-deep.mat-ink-bar {
    background-color: #4d82cb !important;
}

@media screen and (1000px >= width >= 801px) {
    
    ::ng-deep.mat-tab-label {
        font-size: 14px;
        min-width: 150px !important;
    }
}

@media screen and (800px >= width >= 401px) {

    ::ng-deep.mat-tab-label {
        font-size: 14px;
        width: auto;
    }
}

@media screen and (400px >= width >= 320px) {

    ::ng-deep.mat-tab-label {
        font-size: 14px;
        width: 60px !important;
    }
}
*/
/* Table container */

.table-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    overflow: auto;
}

@media screen and (500px >= width >= 320px) {

    .table-container {
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: max-content;
    }
}

.container-table-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
}

/* OPTION */ 

.container-option-buttons {
    margin-top: 40px;
}

.container-option {
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
}

/* Buttons */

button {
    width: 150px;
    height: 50px;
}

@media screen and (1000px >= width >= 320px) {
    
    button {
        height: auto;
    }
}

@media screen and (1000px >= width >= 801px) {
    
    button {
        width: 120px;
    }
}

@media screen and (800px >= width >= 601px) {
    
    button {
        width: 120px;
        font-size: 14px;
    }
}

@media screen and (600px >= width >= 501px) {
    
    button {
        max-width: 100px;
        font-size: 14px;
    }
}

@media screen and (500px >= width >= 320px) {

    button {
        min-width: 80px;
        max-width: 100px;
        font-size: 14px;
    }

}

/* TEAM BUTTONS */

.tile-btns {
    display: grid;
    align-self: flex-start;
    margin-top: 80px;
    row-gap: 100px;
    margin-left: 5px;
}

.btn-tab-team-position {
    display: grid;
    row-gap: 10px;
}

.display-inline-btn {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}

.distance-inline-btns {
    width: 20%;
}

@media screen and (500px >= width >= 320px) {

    .operation-btn {
        align-self: flex-start;
    }

    .distance-team-btns {
        width: 50%;
    }
}

/* OPTIONS BUTTON */

.option-btns {
    justify-content: center;
}

.distance-option-btns {
    width: 20%;
}

/* Font */

.text:hover {
    font-weight: bold;
}

.text:disabled:hover {
    font-weight: 400;
}

/* Color */

.secondary-color:hover {
    background-color: #ffffb3;
}

.secondary-color:disabled:hover {
    background-color: rgba(0,0,0,.12) !important;
}