<mat-tab-group #tab_group
mat-align-tabs="center"
(selectedTabChange)="setTab($event.tab.textLabel); setPlayerSelected(); setPlayersToView($event.tab.textLabel)">
    <mat-tab class="text" label="Team">
        <mat-grid-list
        *ngIf="isGridDisplayed()"
        [cols]="getBreakpoint()" [rowHeight]="getRowHeight()">
            <mat-grid-tile 
            [colspan]="getColumnTable()" [rowspan]="getRowsTable()">
                <div class="table-container mat-elevation-z3">
                    <div>
                        <app-short-table></app-short-table>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan]="getColumnButtons()" [rowspan]="getRowsBtns()">
                <div class="tile-btns">
                    <button mat-raised-button
                    class="text secondary-color mat-elevation-z3"
                    [disabled]="isDisableClearTeamBtn()"
                    (click)="clearAll()">
                        <mat-icon>clear</mat-icon>
                        Clear
                    </button>
                    <div class="btn-tab-team-position">
                        <button mat-raised-button
                        class="text secondary-color mat-elevation-z3"
                        [disabled]="!isPlayerSelected()"
                        (click)="removePlayer()">
                            <mat-icon>delete</mat-icon>
                            Remove
                        </button>
                        <button mat-raised-button 
                        class="text secondary-color mat-elevation-z3"
                        [disabled]="!isPlayerSelected()"
                        (click)="moveToBlacklist()">
                            <mat-icon>arrow_forward</mat-icon>
                            Blacklist
                        </button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="container-table-buttons" *ngIf="!isGridDisplayed()">
            <button mat-raised-button
            class="text secondary-color mat-elevation-z2 operation-btn"
            [disabled]="!isPlayerSelected()"
            (click)="removePlayer()">
                <mat-icon>delete</mat-icon>
                Remove
            </button>
            <div class="display-inline-btn operation-btn">
                <button mat-raised-button 
                class="text secondary-color mat-elevation-z2"
                [disabled]="!isPlayerSelected()"
                (click)="moveToBlacklist()">
                    <mat-icon>arrow_forward</mat-icon>
                    Blacklist
                </button>
                <div class="distance-team-btns"></div>
                <button mat-raised-button
                class="clear-btn secondary-color text mat-elevation-z2"
                [disabled]="isDisableClearTeamBtn()"
                (click)="clearAll()">
                    <mat-icon>clear</mat-icon>
                    Clear
                </button>
            </div>
            <div class="table-container">
                <app-short-table></app-short-table>
            </div>
        </div>
    </mat-tab>
    <mat-tab class="primary-color-light" label="Options"> 
        <div class="container-option-buttons">
            <div class="display-inline-btn option-btns">
                <button mat-raised-button 
                class="text secondary-color mat-elevation-z2"
                (click)="resetOptions()">
                    <mat-icon>clear</mat-icon>
                    Reset
                </button>
                <div class="distance-option-btns"></div>
                <button mat-raised-button 
                class="text secondary-color mat-elevation-z2"
                [disabled]="!isSaveBtnEnabled()"
                (click)="saveOptions()">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
            </div>
            <div class="container-option">
                <app-options></app-options>
            </div>
        </div>
    </mat-tab> 
</mat-tab-group>