/* 
====================
VARIABILI GLOBALI 
====================
*/

/* BREAKPOINT */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 992px;
$large-device-breakpoint: 1200px;

/* TOOLBAR */
$toolbar-first-row-height: 60px;
$toolbar-second-row-height: 50px;