
/* COLORI PRIMARI*/
$primary-color: #82B1FF;
$primary-color-light: #b6e3ff;
$primary-color-dark: #4d82cb;

/* COLORI SECONDARI */
$secondary-color: #FFCF82;
$secondary-color-light: #ffffb3;

/* PRIVO DI COLORE */
$no-color: #F9F9F9;
$no-color-dark: #E0E0E0;
$no-color-light: #F9F9F9;

/* COLORE MESSAGGIO / AVVISO DI ERRORE */
$info-error-color: #f44336;

/* COLORE MESSAGGIO / AVVISO VALORE CORRETTO */
$info-right-color: #248232;

/* COLORE LINK */
$link-color: #0000EE;

/* COLORE TESTO */
$text-color: black;



