/* You can add global styles to this file, and also import other style files */
@import "breakpoints";
@import "colors";
@import "variables";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-family;

}

/*
=======
TESTO
=======
*/

.bold {
    font-weight: 500 !important;
}

.txt-center {
    text-align: center;
    color: black !important;
}

.txt-right {
    text-align: right;
}

.label {
    font-size: 12px;
    word-break: break-word;
    color: black !important;
}

.top-label {
    font-size: 12px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    text-align: left;
    word-break: break-word;
    color: black !important;
    font-weight: 500 !important;
}

.text {
    font-size: 14px;
    word-break: break-word;
    color: black !important;
}

h1 {
    font-size: 24px;
    word-break: break-word;
    color: black !important;
}

h2 {
    font-size: 18px;
    word-break: break-word;
    color: black !important;
}

h3 {
    font-size: 16px;
    word-break: break-word;
    color: black !important;
}

h4 {
    font-size: 14px;
    word-break: break-word;
    color: black !important;
}

@media (min-width: $mobile-breakpoint) {

    .label {
        font-size: 12px;
    }

    .top-label {
        font-size: 12px;
    }

    .text {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }
}

@media (min-width: $tablet-breakpoint) {

    .label {
        font-size: 14px;
    }

    .top-label {
        font-size: 14px;
    }

    .text {
        font-size: 16px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }
}

@media (min-width: $laptop-breakpoint) {

    .label {
        font-size: 16px;
    }

    .top-label {
        font-size: 16px;
    }

    .text {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

@media (min-width: $large-device-breakpoint) {

    .label {
        font-size: 18px;
    }

    .top-label {
        font-size: 18px;
    }

    .text {
        font-size: 20px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }
}

/*  
========
COLORI 
========
*/

.primary-color {
    background-color: $primary-color !important;
}

.primary-color-light {
    background-color: $primary-color-light !important;
}

.primary-color-dark {
    background-color: $primary-color-dark !important;
}

.secondary-color {
    background-color: $secondary-color !important;
}

.secondary-color-no-hover {
    background-color: $secondary-color !important;
}

.secondary-color:hover {
    background-color: $secondary-color-light !important;
}

.secondary-color:focus {
    background-color: $secondary-color-light !important;
}

.secondary-color-light {
    background-color: $secondary-color-light !important;
}

.gray-color {
    background-color: $gray-color;
}

.gray-color:hover {
    background-color: $gray-color-dark !important;
}

.gray-color-light {
    background-color: $gray-color;
}

.gray-color-light:hover {
    background-color: $gray-color-light !important;
}

.no-color {
    background-color: transparent !important;
}


.error-color {
    color: $info-error-color !important;
}

/*
======
ICONE
======
*/

/* Material angular icon colors */

.material-icons.color_green {
    color: $info-right-color;
}

.material-icons.color_red {
    color: $info-error-color;
}

/* Dimensione */

@media (min-width: $mobileXL-breakpoint) {

    .icon-size {
        transform: scale(1.5);
    }
}

/*
===================================
DIMENSIONI STANDARD WIDTH & HEIGHT
===================================
*/

.full-width {
    width: 100% !important;
}

.width-80 {
    width: 80% !important;
}

.full-height {
    height: 100% !important;
}

.height-80 {
    height: 80% !important;
}

/*
========
PADDING
========
*/

.no-padding {
    padding: 0;
}

// 1 Rem

.padding-bottom {
    padding-bottom: 16px;
    padding-bottom: 1rem;
}

.padding-top {
    padding-top: 16px;
    padding-top: 1rem;
}

.padding-left {
    padding-left: 16px;
    padding-left: 1rem;
}

.padding-right {
    padding-left: 16px;
    padding-right: 1rem;
}

.padding {
    padding: 16px;
    padding: 1rem;
}

// 2 Rem

.large-padding-bottom {
    padding-bottom: 32px;
    padding-bottom: 2rem;
}

.large-padding-top {
    padding-top: 32px;
    padding-top: 2rem;
}

.large-padding-left {
    padding-left: 32px;
    padding-left: 2rem;
}

.large-padding-right {
    padding-left: 32px;
    padding-right: 2rem;
}

.large-padding {
    padding: 32px;
    padding: 2rem;
}

// 3 Rem

.xl-padding-bottom {
    padding-bottom: 48px;
    padding-bottom: 3rem;
}

.xl-padding-top {
    padding-top: 48px;
    padding-top: 3rem;
}

.xl-padding-left {
    padding-left: 48px;
    padding-left: 3rem;
}

.xl-padding-right {
    padding-left: 48px;
    padding-right: 3rem;
}

.xl-padding {
    padding: 48px;
    padding: 3rem;
}

/*
========
MARGINI 
========
*/

.no-margin {
    margin: 0;
}

/* 1 rem
Nota: la definizione in px serve per garantire il supporto per il browser Opera e le versioni precedenti di IE 
che non supportano CSS3
*/

.margin-bottom {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.margin-top {
    margin-top: 16px;
    margin-top: 1rem;
}

.margin-left {
    margin-left: 16px;
    margin-left: 1rem;
}

.margin-right {
    margin-right: 16px;
    margin-right: 1rem;
}

.margin {
    margin: 16px;
    margin: 1rem;
}

// 2 rem

.large-margin-bottom {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.large-margin-top {
    margin-top: 32px;
    margin-top: 2rem;
}

.large-margin-left {
    margin-left: 32px !important;
    margin-left: 2rem !important;
}

.large-margin-right {
    margin-right: 32px !important;
    margin-right: 2rem !important;
}

.large-margin {
    margin: 32px;
    margin: 2rem;
}

// 3 Rem

.xl-margin-bottom {
    margin-bottom: 48px;
    margin-bottom: 3rem;
}

.xl-margin-top {
    margin-top: 48px;
    margin-top: 3rem;
}

.xl-margin-left {
    margin-left: 48px !important;
    margin-left: 3rem !important;
}

.xl-margin-right {
    margin-right: 48px !important;
    margin-right: 3rem !important;
}

.xl-margin {
    margin: 48px;
    margin: 3rem;
}

/* Margine standard da applicare in un div prima e dopo il contenuto della pagina */
.margin-page-container {
    width: 10%;
    height: 100vh;
    flex-grow: 1;
}

/*
===========
CONTAINER
===========
*/

.standard-container {
    margin: 32px 0;
    margin: 2rem 0;
}

.full-standard-container {
    margin: 32px;
    margin: 2rem;
}

.small-container {
    margin: 16px 0;
    margin: 1rem 0;
}

/* 
==================
FLEXBOX CONTAINER 
==================
*/

.flex-container {
    display: flex !important;
}

.flex-direction-column {
    display: flex !important;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-none {
    flex: none;
    /* flex-grow: 0; flex-shrink: 0; flex-basis: auto; */
}

.flex-auto {
    flex: auto;
    /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
}

.flex-content {
    flex: content;
    /* riempie automaticamente al contenuto: flex-basis: content; */
}

.flex-cell {
    flex: 1;
    /* indica all'elemento di crescere fino a occupare tutto lo spazio disponibile nel contenitore */
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Distribuisce lo spazio in modo equo tra gli oggetti */
.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.align-items-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Una riga può essere divisa al massimo in 12 colonne */

.cell-12of12 {
    flex: 1 1 100%;
}

.cell-11of12 {
    flex: 1 1 91.666667%;
}

.cell-10of12 {
    flex: 1 1 83.333333%;
}

.cell-9of12 {
    flex: 1 1 75%;
}

.cell-8of12 {
    flex: 1 1 66.666667%;
}

.cell-7of12 {
    flex: 1 1 58.333333%;
}

.cell-6of12 {
    flex: 1 1 50%;
}

.cell-5of12 {
    flex: 1 1 41.666667%;
}

.cell-4of12 {
    flex: 1 1 33.333333%;
}

.cell-3of12 {
    flex: 1 1 25%;
}

.cell-2of12 {
    flex: 1 1 16.666667%;
}

.cell-1of12 {
    flex: 1 1 8.333333%;
}

// FIXME
.flex-item-1-1-auto {
    flex: 1 1 auto;
}

// FIXME
.flex-start-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

// FIXME
.full-flex-start-main-axis {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

// FIXME
.full-flex-end-main-axis {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

// FIXME
.flex-wrap {
    flex-wrap: wrap;
}

// FIXME
.align-content-center {
    align-content: center;
}

// FIXME
.align-items-center {
    align-items: center;
}

// FIXME
.alignCenter {
    align-self: center;
}

// FIXME
.space-between {
    display: flex;
    justify-content: space-between;
}

/*
========
TOOLTIP
========
*/

.tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
        border: 1px solid black;
        visibility: hidden;
        width: 120px;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        background-color: blanchedalmond;
    
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 0px;
        right: 0;
    }    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.mat-tooltip {
    font-size: 14px;
}

/*
 * ================
 * PUNTATORE MOUSE
 * ================
 */

.cursor-pointer {
    cursor: pointer;
} 

.cursor-default {
    cursor: default;
}

/* --- FINE SEZIONE TOOLTIP IMMAGINI --- */

/* STYLE GRIGLIA */

.grid-tile-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

/* STYLE GENERALI */

.block-container {
    display: block;
}

.hidden-element {
    display: none;
}

.link:hover {
    cursor: pointer !important;
    font-weight: 500;
}

.link {
    color: $link-color !important;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.black-link:hover {
    cursor: pointer !important;
    font-weight: 500;
}

.black-link {
    color: black;
    text-decoration: underline;
    text-underline-offset: 2px;
}