
// Variabile che elenca la famiglia di font utilizzabili
$font-family: Roboto, sans-serif, Tahoma, Geneva, Verdana, sans-serif !important;

// Altezza toolbar
$toolbar-height: 64px;
$toolbar-height-mobile: 52px;